
  
  <style>
    .gps-478597077652276258 .-translate-y-1\/2,.gps-478597077652276258 .mobile\:-translate-y-1\/2,.gps-478597077652276258 .mobile\:rotate-0,.gps-478597077652276258 .mobile\:rotate-180,.gps-478597077652276258 .mobile\:translate-x-0,.gps-478597077652276258 .mobile\:translate-y-1\/2,.gps-478597077652276258 .rotate-0,.gps-478597077652276258 .rotate-180,.gps-478597077652276258 .tablet\:-translate-y-1\/2,.gps-478597077652276258 .tablet\:rotate-0,.gps-478597077652276258 .tablet\:rotate-180,.gps-478597077652276258 .tablet\:translate-x-0,.gps-478597077652276258 .tablet\:translate-y-1\/2,.gps-478597077652276258 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-478597077652276258 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-478597077652276258 .btn-disabled{cursor:default}.gps-478597077652276258 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-478597077652276258 .g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-478597077652276258 .pointer-events-none{pointer-events:none}.gps-478597077652276258 .invisible{visibility:hidden}.gps-478597077652276258 .static{position:static}.gps-478597077652276258 .absolute{position:absolute}.gps-478597077652276258 .relative{position:relative}.gps-478597077652276258 .inset-0{inset:0}.gps-478597077652276258 .bottom-1\/2{bottom:50%}.gps-478597077652276258 .left-4{left:16px}.gps-478597077652276258 .right-4{right:16px}.gps-478597077652276258 .top-1\/2{top:50%}.gps-478597077652276258 .mx-auto{margin-left:auto;margin-right:auto}.gps-478597077652276258 .mb-0{margin-bottom:0}.gps-478597077652276258 .mt-2{margin-top:8px}.gps-478597077652276258 .block{display:block}.gps-478597077652276258 .inline-block{display:inline-block}.gps-478597077652276258 .flex{display:flex}.gps-478597077652276258 .inline-flex{display:inline-flex}.gps-478597077652276258 .grid{display:grid}.gps-478597077652276258 .contents{display:contents}.gps-478597077652276258 .\!hidden{display:none!important}.gps-478597077652276258 .hidden{display:none}.gps-478597077652276258 .aspect-square{aspect-ratio:1/1}.gps-478597077652276258 .h-5{height:20px}.gps-478597077652276258 .h-6{height:24px}.gps-478597077652276258 .h-full{height:100%}.gps-478597077652276258 .w-5{width:20px}.gps-478597077652276258 .w-6{width:24px}.gps-478597077652276258 .w-\[12px\]{width:12px}.gps-478597077652276258 .w-full{width:100%}.gps-478597077652276258 .max-w-full{max-width:100%}.gps-478597077652276258 .shrink-0{flex-shrink:0}.gps-478597077652276258 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-478597077652276258 .-translate-y-1\/2,.gps-478597077652276258 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-478597077652276258 .translate-y-1\/2{--tw-translate-y:50%}.gps-478597077652276258 .rotate-0{--tw-rotate:0deg}.gps-478597077652276258 .rotate-0,.gps-478597077652276258 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-478597077652276258 .rotate-180{--tw-rotate:180deg}@keyframes spin{to{transform:rotate(1turn)}}.gps-478597077652276258 .animate-spin{animation:spin 1s linear infinite}.gps-478597077652276258 .cursor-pointer{cursor:pointer}.gps-478597077652276258 .flex-row{flex-direction:row}.gps-478597077652276258 .flex-row-reverse{flex-direction:row-reverse}.gps-478597077652276258 .flex-col{flex-direction:column}.gps-478597077652276258 .flex-wrap{flex-wrap:wrap}.gps-478597077652276258 .items-center{align-items:center}.gps-478597077652276258 .justify-center{justify-content:center}.gps-478597077652276258 .gap-2{gap:8px}.gps-478597077652276258 .overflow-hidden{overflow:hidden}.gps-478597077652276258 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-478597077652276258 .rounded-full{border-radius:9999px}.gps-478597077652276258 .rounded-none{border-radius:0}.gps-478597077652276258 .px-1{padding-left:4px;padding-right:4px}.gps-478597077652276258 .text-center{text-align:center}.gps-478597077652276258 .align-middle{vertical-align:middle}.gps-478597077652276258 .leading-\[0\]{line-height:0}.gps-478597077652276258 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-478597077652276258 .text-g-text-1{color:var(--g-c-text-1)}.gps-478597077652276258 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-478597077652276258 .no-underline{text-decoration-line:none}.gps-478597077652276258 .opacity-25{opacity:.25}.gps-478597077652276258 .opacity-30{opacity:.3}.gps-478597077652276258 .opacity-75{opacity:.75}.gps-478597077652276258 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-478597077652276258 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-478597077652276258 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-478597077652276258 .duration-200{transition-duration:.2s}.gps-478597077652276258 .duration-300{transition-duration:.3s}.gps-478597077652276258 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-478597077652276258 .disabled\:btn-disabled:disabled{cursor:default}.gps-478597077652276258 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-478597077652276258 .disabled\:cursor-default:disabled{cursor:default}.gps-478597077652276258 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-478597077652276258 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-478597077652276258 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-478597077652276258 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-478597077652276258 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}.gps-478597077652276258 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-478597077652276258 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-478597077652276258 .tablet\:bottom-1\/2{bottom:50%}.gps-478597077652276258 .tablet\:left-4{left:16px}.gps-478597077652276258 .tablet\:right-4{right:16px}.gps-478597077652276258 .tablet\:top-1\/2{top:50%}.gps-478597077652276258 .tablet\:mt-2{margin-top:8px}.gps-478597077652276258 .tablet\:block{display:block}.gps-478597077652276258 .tablet\:\!flex{display:flex!important}.gps-478597077652276258 .tablet\:hidden{display:none}.gps-478597077652276258 .tablet\:w-full{width:100%}.gps-478597077652276258 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-478597077652276258 .tablet\:-translate-y-1\/2,.gps-478597077652276258 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-478597077652276258 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-478597077652276258 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-478597077652276258 .tablet\:rotate-0,.gps-478597077652276258 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-478597077652276258 .tablet\:rotate-0{--tw-rotate:0deg}.gps-478597077652276258 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-478597077652276258 .tablet\:flex-row{flex-direction:row}.gps-478597077652276258 .tablet\:px-0{padding-left:0;padding-right:0}.gps-478597077652276258 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-478597077652276258 .mobile\:bottom-1\/2{bottom:50%}.gps-478597077652276258 .mobile\:left-4{left:16px}.gps-478597077652276258 .mobile\:right-4{right:16px}.gps-478597077652276258 .mobile\:top-1\/2{top:50%}.gps-478597077652276258 .mobile\:mt-2{margin-top:8px}.gps-478597077652276258 .mobile\:block{display:block}.gps-478597077652276258 .mobile\:\!flex{display:flex!important}.gps-478597077652276258 .mobile\:hidden{display:none}.gps-478597077652276258 .mobile\:w-full{width:100%}.gps-478597077652276258 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-478597077652276258 .mobile\:-translate-y-1\/2,.gps-478597077652276258 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-478597077652276258 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-478597077652276258 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-478597077652276258 .mobile\:rotate-0,.gps-478597077652276258 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-478597077652276258 .mobile\:rotate-0{--tw-rotate:0deg}.gps-478597077652276258 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-478597077652276258 .mobile\:flex-row{flex-direction:row}.gps-478597077652276258 .mobile\:px-0{padding-left:0;padding-right:0}.gps-478597077652276258 .mobile\:pl-1{padding-left:4px}}.gps-478597077652276258 .\[\&\>svg\]\:h-auto>svg{height:auto}.gps-478597077652276258 .\[\&\>svg\]\:w-full>svg{width:100%}.gps-478597077652276258 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gryJbjcalJ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-m);--pb:var(--g-s-4xl);--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F2E3C6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gryJbjcalJ mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gw_lq0B3TM relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gKDHYEGUns"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:30px;--cg-mobile:0px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:95%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKDHYEGUns mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4GLhvXviS relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-ge43h1Z8cj" class=" "  gp-data='{"id":"ge43h1Z8cj","setting":{"arrow":{"desktop":false,"mobile":false,"tablet":false},"autoplay":false,"autoplayTimeout":2,"childItem":["Slide 1","Slide 2","Slide 3"],"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"brand","tablet":"#242424"},"dotColor":{"desktop":"bg-1"},"enableDrag":false,"loop":{"desktop":false},"pauseOnHover":true,"slidesToShow":{"desktop":3,"mobile":1,"tablet":3},"vertical":{"desktop":false}},"styles":{"adaptiveHeight":{"desktop":true},"fullWidth":{"desktop":true},"height":{"desktop":"300px"},"spacing":{"desktop":"30"},"width":{"desktop":"95%"}}}' style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative px-1 tablet:px-0 mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block ge43h1Z8cj"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--h:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;visibility:hidden"
      >
        <div
          class="h-full"
        >
          <div id="gp-carousel-ge43h1Z8cj" class="gem-slider h-full overflow-hidden">
            
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
       grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gjIpHTxygA"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gD5l8ZQ-bN"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--ta:left"
  >
    <div
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--radius:var(--g-radius-none)"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://ae01.alicdn.com/kf/Ae9039086093f447397b0433ce7464a0aJ.jpg_220x220.jpg" data-srcset="https://ae01.alicdn.com/kf/Ae9039086093f447397b0433ce7464a0aJ.jpg_220x220.jpg 768w,https://ae01.alicdn.com/kf/Ae9039086093f447397b0433ce7464a0aJ.jpg_220x220.jpg 1024w,https://ae01.alicdn.com/kf/Ae9039086093f447397b0433ce7464a0aJ.jpg_220x220.jpg 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="99" height="220" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:4/3;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <ul 
            class="flex flex-wrap"
            style="--cg:var(--g-s-xs);--jc:left;--jc-mobile:center">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gIkTlovfiw ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="overflow-hidden leading-[0] gSzPVNM1pR"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gKSbkOkyHy ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="overflow-hidden leading-[0] gT6i6qc3IG"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gqzwhbJ3Ol ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="overflow-hidden leading-[0] gQwULOXOmq"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gKYjHV10mn ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="overflow-hidden leading-[0] gQuqaN84mn"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gzydIeiK1h ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="overflow-hidden leading-[0] g9647mIAsD"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </ul>
    </div>
  
    <div
      parentTag="CarouselItem"
        class="g4fD2uvVlK "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
      >
      <p>”I love them, they bleach a lot I have already bought it several times"</p>
      </div>
    </div>
    <div
      parentTag="CarouselItem"
        class="gzSDPMlIF2 "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-3xl)"
      >
      <div
        data-gp-text
        class="text-g-text-1 g-paragraph-2 gp-text"
        style="--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#B4B4B4;word-break:break-word"
      >
      <p><span style="color:#B4B4B4;font-size:13px;">d***o</span></p>
      </div>
    </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
       grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- g-IlCBucr2"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden govgEWgu6B"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--ta:left"
  >
    <div
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--radius:var(--g-radius-none)"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://ae01.alicdn.com/kf/A3abbee53f8464c70919bdd929f37cbf50.jpg_220x220.jpg" data-srcset="https://ae01.alicdn.com/kf/A3abbee53f8464c70919bdd929f37cbf50.jpg_220x220.jpg 768w,https://ae01.alicdn.com/kf/A3abbee53f8464c70919bdd929f37cbf50.jpg_220x220.jpg 1024w,https://ae01.alicdn.com/kf/A3abbee53f8464c70919bdd929f37cbf50.jpg_220x220.jpg 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="165" height="220" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:4/3;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <ul 
            class="flex flex-wrap"
            style="--cg:var(--g-s-xs);--jc:left;--jc-mobile:center">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g2QqLqruz- ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="overflow-hidden leading-[0] gpSswOwKtm"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gBAi7BAXY8 ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="overflow-hidden leading-[0] g34wKe1zuL"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gFj0g7O_gC ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="overflow-hidden leading-[0] gymdICOcrH"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="ge3RXI-UOa ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="overflow-hidden leading-[0] gqba0bzmr9"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gFzvQvvtnN ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="overflow-hidden leading-[0] gRrN2RqWBH"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </ul>
    </div>
  
    <div
      parentTag="CarouselItem"
        class="g5Hr5GT-_v "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
      >
      <p>"We will see how it works😯"</p>
      </div>
    </div>
    <div
      parentTag="CarouselItem"
        class="gCcLtK15-L "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-3xl)"
      >
      <div
        data-gp-text
        class="text-g-text-1 g-paragraph-2 gp-text"
        style="--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#B4B4B4;word-break:break-word"
      >
      <p><span style="color:#B4B4B4;font-size:13px;">I***e</span></p>
      </div>
    </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
       grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- g6y0yFIslW"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gDjba0eJVo"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--ta:left"
  >
    <div
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--radius:var(--g-radius-none)"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://ae01.alicdn.com/kf/A7660b1e0a702497c97c45a3efde660d3c.jpg_220x220.jpg" data-srcset="https://ae01.alicdn.com/kf/A7660b1e0a702497c97c45a3efde660d3c.jpg_220x220.jpg 768w,https://ae01.alicdn.com/kf/A7660b1e0a702497c97c45a3efde660d3c.jpg_220x220.jpg 1024w,https://ae01.alicdn.com/kf/A7660b1e0a702497c97c45a3efde660d3c.jpg_220x220.jpg 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="165" height="220" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:4/3;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div>
    
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <ul 
            class="flex flex-wrap"
            style="--cg:var(--g-s-xs);--jc:left;--jc-mobile:center">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gg_81Iqh5I ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="overflow-hidden leading-[0] gLj2LwTPuM"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gK2YYtbSwu ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="overflow-hidden leading-[0] gap32kFSnc"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g_K49CA-jq ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="overflow-hidden leading-[0] gzSEipMiHx"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g6jixA4qki ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="overflow-hidden leading-[0] gBYb1oyZUg"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g3_LRXuF4i ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="overflow-hidden leading-[0] gL-a_mg1ln"
    >
      <div class="inline-flex"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </ul>
    </div>
  
    <div
      parentTag="CarouselItem"
        class="gObCnt1c4I "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
      >
      <p>"Very happy with product"</p>
      </div>
    </div>
    <div
      parentTag="CarouselItem"
        class="gvEMFwn126 "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-3xl)"
      >
      <div
        data-gp-text
        class="text-g-text-1 g-paragraph-2 gp-text"
        style="--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#B4B4B4;word-break:break-word"
      >
      <p><span style="color:#B4B4B4;font-size:13px;">S***s</span></p>
      </div>
    </div>
    </div>
  
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back ge43h1Z8cj absolute h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden hidden tablet:hidden mobile:hidden left-4 tablet:left-4 tablet:translate-x-0 tablet:pl-1 mobile:left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <span class="inline-flex h-6 w-6 items-center justify-center">
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
          </svg>
    </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next ge43h1Z8cj absolute h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden hidden tablet:hidden mobile:hidden right-4 tablet:right-4 tablet:translate-x-0 tablet:pl-1 mobile:right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <span class="inline-flex h-6 w-6 items-center justify-center">
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
          </svg>
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-ge43h1Z8cj hidden flex-row w-full mt-2 tablet:!flex tablet:flex-row tablet:w-full tablet:mt-2 mobile:!flex mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product.v2.js" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '8674848309548' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['bamboo-charcoal-toothpaste-teeth-whitening-powder-toothbrush-set']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products 
                      if item.id == '8674848309548'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '8674848309548' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['bamboo-charcoal-toothpaste-teeth-whitening-powder-toothbrush-set']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products 
                    if item.id == '8674848309548'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId = 46858802856236 -%}
      {%- assign product_form_id = 'product-form-' | append: "gakN8aGU1q" -%}
      {%- assign variant = product.variants | where: 'id', initVariantId | first -%}
      {%- assign productSelectedVariant = product.variants | where: 'id', initVariantId | first -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product class="" gp-context='{"productId": {{ product.id }}, "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
          <input type="hidden" name="id" value="{{ variant.id }}" />
          <input type="hidden" name="quantity" value="{{ quantity }}" />
          <button type="submit" onclick="return false;" style="display:none;"></button>
          
      
      
    <div
      id
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--mb:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gYt9IGRnlN relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-button.js" defer="defer"></script>
  
  
  
   {%- liquid 
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      gp-data='{"setting":{"actionEffect":"go-to-url","customURL":{"link":"/products/bamboo-charcoal-toothpaste-teeth-whitening-powder-toothbrush-set","target":"_self","title":"Bamboo Charcoal Toothpaste Teeth Whitening Powder Toothbrush Set"},"errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"Add &nbsp;to Cart","outOfStockLabel":"Out of stocks","errorType":"built-in"},"styles":{"errorTypo":{"type":"paragraph-2"},"successTypo":{"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}"}'
    >
        <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-xl);--mb:var(--g-s-l);--mr:var(--g-s-3xl);--mt-mobile:var(--g-s-xl);--ml-mobile:0px;--mb-mobile:var(--g-s-l);--mr-mobile:0px;--ta:center"
    class="{% unless variant.available %} !hidden {% endunless %} undefined"
  >
    <style>
    .gH_U3rx3MY.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gH_U3rx3MY:hover::before {
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
    }
  </style>
    <button
      type="button" data-id="gH_U3rx3MY" aria-label="Add &nbsp;to Cart"
      data-state="idle"
      class="gH_U3rx3MY gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none flex-row-reverse text-g-bg-3 g-paragraph-1 gp-button-atc"
      style="--hvr-bg:#473FA8;--bg:#322B85;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:2.4492935982947064e-16px 4px 8px 0px rgba(0, 0, 0, 0.25);--c:var(--g-c-bg-3, bg-3);--pl:32px;--pr:32px;--pt:14px;--pb:14px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:11px;--pb-mobile:11px;--w:280px;--w-tablet:280px;--w-mobile:100%;--tt:default"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible"
        style="--ml:8px;--w:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"> 	<path fill="#FBC435" strokeLinecap="round" strokeLinejoin="round" fill="#FBC435" d="M512 199.652c0 23.625-20.65 43.826-44.8 43.826h-99.851c16.34 17.048 18.346 49.766-6.299 70.944 14.288 22.829 2.147 53.017-16.45 62.315C353.574 425.878 322.654 448 272 448c-2.746 0-13.276-.203-16-.195-61.971.168-76.894-31.065-123.731-38.315C120.596 407.683 112 397.599 112 385.786V214.261l.002-.001c.011-18.366 10.607-35.889 28.464-43.845 28.886-12.994 95.413-49.038 107.534-77.323 7.797-18.194 21.384-29.084 40-29.092 34.222-.014 57.752 35.098 44.119 66.908-3.583 8.359-8.312 16.67-14.153 24.918H467.2c23.45 0 44.8 20.543 44.8 43.826zM96 200v192c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V200c0-13.255 10.745-24 24-24h48c13.255 0 24 10.745 24 24zM68 368c0-11.046-8.954-20-20-20s-20 8.954-20 20 8.954 20 20 20 20-8.954 20-20z" /> </svg></span>
      <span
        class="truncate group-data-[state=loading]:invisible "
        style="--tt:default"
      >
        Add &nbsp;to Cart
      </span>
    </button>
  </div>
        <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-xl);--mb:var(--g-s-l);--mr:var(--g-s-3xl);--mt-mobile:var(--g-s-xl);--ml-mobile:0px;--mb-mobile:var(--g-s-l);--mr-mobile:0px;--ta:center"
    class="{% if variant.available %} !hidden {% endif %}"
  >
    <style>
    .gH_U3rx3MY.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gH_U3rx3MY:hover::before {
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
    }
  </style>
    <button
      type="button" data-id="gH_U3rx3MY" aria-label="Out of stocks"
      data-state="idle"
      class="gH_U3rx3MY gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none flex-row-reverse text-g-bg-3 g-paragraph-1 gp-button-sold-out btn-disabled opacity-30 pointer-events-none"
      style="--hvr-bg:#473FA8;--bg:#322B85;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:2.4492935982947064e-16px 4px 8px 0px rgba(0, 0, 0, 0.25);--c:var(--g-c-bg-3, bg-3);--pl:32px;--pr:32px;--pt:14px;--pb:14px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:11px;--pb-mobile:11px;--w:280px;--w-tablet:280px;--w-mobile:100%;--tt:default"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible"
        style="--ml:8px;--w:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"> 	<path fill="#FBC435" strokeLinecap="round" strokeLinejoin="round" fill="#FBC435" d="M512 199.652c0 23.625-20.65 43.826-44.8 43.826h-99.851c16.34 17.048 18.346 49.766-6.299 70.944 14.288 22.829 2.147 53.017-16.45 62.315C353.574 425.878 322.654 448 272 448c-2.746 0-13.276-.203-16-.195-61.971.168-76.894-31.065-123.731-38.315C120.596 407.683 112 397.599 112 385.786V214.261l.002-.001c.011-18.366 10.607-35.889 28.464-43.845 28.886-12.994 95.413-49.038 107.534-77.323 7.797-18.194 21.384-29.084 40-29.092 34.222-.014 57.752 35.098 44.119 66.908-3.583 8.359-8.312 16.67-14.153 24.918H467.2c23.45 0 44.8 20.543 44.8 43.826zM96 200v192c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V200c0-13.255 10.745-24 24-24h48c13.255 0 24 10.745 24 24zM68 368c0-11.046-8.954-20-20-20s-20 8.954-20 20 8.954 20 20 20 20-8.954 20-20z" /> </svg></span>
      <span
        class="truncate group-data-[state=loading]:invisible "
        style="--tt:default"
      >
        Out of stocks
      </span>
    </button>
  </div>
    </gp-product-button>
  
    </div>
    </div>
  
    
        {%- endform -%}
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="text-center">Product not found</div>
    {%- endif -%}
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Testimonial - Style 5",
    "tag": "section",
    "class": "gps-478597077652276258 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=478597077652276258)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
