
  
  <style>
    .gps-479338208199443253 .btn-disabled{cursor:default}.gps-479338208199443253 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-479338208199443253 .g-s-medium{padding:8px 24px}.gps-479338208199443253 .pointer-events-none{pointer-events:none}.gps-479338208199443253 .invisible{visibility:hidden}.gps-479338208199443253 .static{position:static}.gps-479338208199443253 .absolute{position:absolute}.gps-479338208199443253 .relative{position:relative}.gps-479338208199443253 .mx-auto{margin-left:auto;margin-right:auto}.gps-479338208199443253 .mb-0{margin-bottom:0}.gps-479338208199443253 .block{display:block}.gps-479338208199443253 .flex{display:flex}.gps-479338208199443253 .inline-flex{display:inline-flex}.gps-479338208199443253 .grid{display:grid}.gps-479338208199443253 .contents{display:contents}.gps-479338208199443253 .\!hidden{display:none!important}.gps-479338208199443253 .hidden{display:none}.gps-479338208199443253 .h-5{height:20px}.gps-479338208199443253 .w-5{width:20px}.gps-479338208199443253 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-479338208199443253 .animate-spin{animation:spin 1s linear infinite}.gps-479338208199443253 .flex-col{flex-direction:column}.gps-479338208199443253 .items-center{align-items:center}.gps-479338208199443253 .justify-center{justify-content:center}.gps-479338208199443253 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-479338208199443253 .rounded-none{border-radius:0}.gps-479338208199443253 .border{border-width:1px}.gps-479338208199443253 .bg-g-brand{background-color:var(--g-c-brand)}.gps-479338208199443253 .text-center{text-align:center}.gps-479338208199443253 .text-g-text-3{color:var(--g-c-text-3)}.gps-479338208199443253 .no-underline{text-decoration-line:none}.gps-479338208199443253 .opacity-25{opacity:.25}.gps-479338208199443253 .opacity-30{opacity:.3}.gps-479338208199443253 .opacity-75{opacity:.75}.gps-479338208199443253 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479338208199443253 .duration-200{transition-duration:.2s}.gps-479338208199443253 .duration-300{transition-duration:.3s}.gps-479338208199443253 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479338208199443253 .disabled\:btn-disabled:disabled{cursor:default}.gps-479338208199443253 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:g-paragraph-1 .shopify-payment-button__button--unbranded{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-479338208199443253 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:g-s-medium .shopify-payment-button__button--unbranded{padding:8px 24px}@media (hover:hover) and (pointer:fine){.gps-479338208199443253 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-479338208199443253 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-479338208199443253 .disabled\:opacity-30:disabled{opacity:.3}.gps-479338208199443253 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-479338208199443253 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-479338208199443253 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-479338208199443253 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:min-h-fit .shopify-payment-button__button--unbranded{min-height:-moz-fit-content;min-height:fit-content}.gps-479338208199443253 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:truncate .shopify-payment-button__button--unbranded{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-479338208199443253 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:text-g-text-3 .shopify-payment-button__button--unbranded{color:var(--g-c-text-3)}.gps-479338208199443253 .disabled\:\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:pointer-events-none .shopify-payment-button__button--unbranded:disabled{pointer-events:none}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g6r2j4wsxX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6r2j4wsxX mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqf0AGQxKr relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product.v2.js" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '8674848309548' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['bamboo-charcoal-toothpaste-teeth-whitening-powder-toothbrush-set']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products 
                      if item.id == '8674848309548'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '8674848309548' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['bamboo-charcoal-toothpaste-teeth-whitening-powder-toothbrush-set']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products 
                    if item.id == '8674848309548'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId = 46858802856236 -%}
      {%- assign product_form_id = 'product-form-' | append: "gPvAChV_nE" -%}
      {%- assign variant = product.variants | where: 'id', initVariantId | first -%}
      {%- assign productSelectedVariant = product.variants | where: 'id', initVariantId | first -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product class="" gp-context='{"productId": {{ product.id }}, "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
          <input type="hidden" name="id" value="{{ variant.id }}" />
          <input type="hidden" name="quantity" value="{{ quantity }}" />
          <button type="submit" onclick="return false;" style="display:none;"></button>
          
      
      
    <div
      id
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start;--d-mobile:none"
      class="gyw3sgf-51 relative flex flex-col"
    >
      
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gu64rWapTO relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gcA35Bs5eY"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcA35Bs5eY mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gfeh8IrYbC relative flex flex-col"
    >
      <div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gVeF4Sn5SX ">
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-dynamic.js" defer="defer"></script>
    {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
      assign supported_payment_methods = shop.enabled_payment_types
    -%}
    <gp-product-dynamic class="">
     

      <div class="block wrap__button--unbranded__gVeF4Sn5SX [&_.shopify-payment-button\_\_button--unbranded]:truncate [&_.shopify-payment-button\_\_button--unbranded]:min-h-fit disabled:[&_.shopify-payment-button\_\_button--unbranded]:pointer-events-none [&_.shopify-payment-button\_\_button--unbranded]:g-paragraph-1 [&_.shopify-payment-button\_\_button--unbranded]:g-s-medium [&_.shopify-payment-button\_\_button--unbranded]:text-g-text-3">
          {{ form | payment_button }}
      </div>
      {% style %}
        .wrap__button--unbranded__gVeF4Sn5SX {
          
        }

        .shopify-payment-button>div>div>div {
          margin-top: 0px !important;
        }

        .wrap__button--unbranded__gVeF4Sn5SX .shopify-payment-button {
          max-width: 100%;
          
        }

        .wrap__button--unbranded__gVeF4Sn5SX .shopify-payment-button .shopify-payment-button__more-options {
          display: none;
        }

        .wrap__button--unbranded__gVeF4Sn5SX .shopify-payment-button .shopify-payment-button__button--unbranded {
          max-width: 100%;
          min-width: unset;
          background-color: unset !important;
          position: relative;
          border: none !important;
          z-index: 0;
          border-radius: unset;
          
          width: 100%;
          
  
  
  
  
  
  
  
  
  
          color: var(--g-c-text-3, text-3) !important;
          
          
          
      
      
      
      
      
        }
        .wrap__button--unbranded__gVeF4Sn5SX .shopify-payment-button .shopify-payment-button__button--unbranded::before {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;
          z-index: -1;
          border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
          
      
      
      
      
      
          background-color: var(--g-c-brand, brand) !important;
        }

        .wrap__button--unbranded__gVeF4Sn5SX .shopify-payment-button .shopify-payment-button__button--unbranded:hover {
          
          
        }
        .wrap__button--unbranded__gVeF4Sn5SX .shopify-payment-button .shopify-payment-button__button--unbranded:hover::before {
          border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
          
          background-color: var(--g-c-highlight, highlight) !important;
        }

        .wrap__button--unbranded__gVeF4Sn5SX .shopify-payment-button .shopify-payment-button__button--unbranded::after {
          border-radius: 0;
          box-shadow: none;
        }

        .wrap__button--unbranded__gVeF4Sn5SX .shopify-payment-button .shopify-payment-button__button--unbranded::after:hover {
          border-radius: 0;
          box-shadow: none;
        }

        .wrap__button--unbranded__gVeF4Sn5SX .shopify-payment-button > div {
          max-width: 100%;
        }

        .wrap__button--unbranded__gVeF4Sn5SX .shopify-payment-button > div > div {
          max-width: 100%;
        }

        @media only screen and (max-width: 1023px) and (min-width: 768px)  {
          .wrap__button--unbranded__gVeF4Sn5SX {
            
          }
          .wrap__button--unbranded__gVeF4Sn5SX .shopify-payment-button {
            
          }

          .wrap__button--unbranded__gVeF4Sn5SX .shopify-payment-button__button--unbranded {
            width: 100%;
            
          }
        }

        @media only screen and (max-width: 767px) {
          .wrap__button--unbranded__gVeF4Sn5SX {
            
          }
          .wrap__button--unbranded__gVeF4Sn5SX .shopify-payment-button {
            
          }

          .wrap__button--unbranded__gVeF4Sn5SX .shopify-payment-button__button--unbranded {
            width: 100%;
            
          }
        }

        {% endstyle %}
      </gp-product-dynamic>
  
      </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gxCuDOb43f relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-button.js" defer="defer"></script>
  
  
  
   {%- liquid 
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      gp-data='{"setting":{"actionEffect":"continue-shopping","customURL":{"link":"/cart","target":"_self"},"errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"Add to cart","outOfStockLabel":"Out of stock","errorType":"built-in"},"styles":{"errorTypo":{"type":"paragraph-2"},"successTypo":{"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}"}'
    >
        <div
    
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class="{% unless variant.available %} !hidden {% endunless %} undefined"
  >
    <style>
    .gwvC_BnQ_1.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      
      
      
      
      
    }

    .gwvC_BnQ_1:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }
  </style>
    <button
      type="button" data-id="gwvC_BnQ_1" aria-label="Add to cart"
      data-state="idle"
      class="gwvC_BnQ_1 gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium gp-button-atc"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--shadow:none;--c:var(--g-c-text-3, text-3);--w:100%;--w-tablet:100%;--w-mobile:100%;--tt:default"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="truncate group-data-[state=loading]:invisible "
        style="--tt:default"
      >
        Add to cart
      </span>
    </button>
  </div>
        <div
    
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class="{% if variant.available %} !hidden {% endif %}"
  >
    <style>
    .gwvC_BnQ_1.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      
      
      
      
      
    }

    .gwvC_BnQ_1:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }
  </style>
    <button
      type="button" data-id="gwvC_BnQ_1" aria-label="Out of stock"
      data-state="idle"
      class="gwvC_BnQ_1 gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium gp-button-sold-out btn-disabled opacity-30 pointer-events-none"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--shadow:none;--c:var(--g-c-text-3, text-3);--w:100%;--w-tablet:100%;--w-mobile:100%;--tt:default"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="truncate group-data-[state=loading]:invisible "
        style="--tt:default"
      >
        Out of stock
      </span>
    </button>
  </div>
    </gp-product-button>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
    
        {%- endform -%}
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="text-center">Product not found</div>
    {%- endif -%}
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Product Information - Sty",
    "tag": "section",
    "class": "gps-479338208199443253 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=479338208199443253)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
