
  
  <style>
    .gps-479453553807590434 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-479453553807590434 .g-s-large{padding:12px 32px}.gps-479453553807590434 .invisible{visibility:hidden}.gps-479453553807590434 .absolute{position:absolute}.gps-479453553807590434 .relative{position:relative}.gps-479453553807590434 .inset-0{inset:0}.gps-479453553807590434 .mx-auto{margin-left:auto;margin-right:auto}.gps-479453553807590434 .mb-0{margin-bottom:0}.gps-479453553807590434 .block{display:block}.gps-479453553807590434 .inline-block{display:inline-block}.gps-479453553807590434 .flex{display:flex}.gps-479453553807590434 .inline-flex{display:inline-flex}.gps-479453553807590434 .grid{display:grid}.gps-479453553807590434 .hidden{display:none}.gps-479453553807590434 .h-5{height:20px}.gps-479453553807590434 .h-6{height:24px}.gps-479453553807590434 .w-5{width:20px}.gps-479453553807590434 .w-6{width:24px}.gps-479453553807590434 .w-full{width:100%}.gps-479453553807590434 .max-w-full{max-width:100%}.gps-479453553807590434 .flex-none{flex:none}.gps-479453553807590434 .shrink-0{flex-shrink:0}@keyframes spin{to{transform:rotate(1turn)}}.gps-479453553807590434 .animate-spin{animation:spin 1s linear infinite}.gps-479453553807590434 .flex-row-reverse{flex-direction:row-reverse}.gps-479453553807590434 .flex-col{flex-direction:column}.gps-479453553807590434 .items-center{align-items:center}.gps-479453553807590434 .justify-start{justify-content:flex-start}.gps-479453553807590434 .justify-center{justify-content:center}.gps-479453553807590434 .overflow-hidden{overflow:hidden}.gps-479453553807590434 .overflow-clip{overflow:clip}.gps-479453553807590434 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-479453553807590434 .rounded-none{border-radius:0}.gps-479453553807590434 .align-middle{vertical-align:middle}.gps-479453553807590434 .leading-\[0\]{line-height:0}.gps-479453553807590434 .text-g-line-3{color:var(--g-c-line-3)}.gps-479453553807590434 .text-g-text-3{color:var(--g-c-text-3)}.gps-479453553807590434 .no-underline{text-decoration-line:none}.gps-479453553807590434 .opacity-25{opacity:.25}.gps-479453553807590434 .opacity-75{opacity:.75}.gps-479453553807590434 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479453553807590434 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479453553807590434 .duration-200{transition-duration:.2s}.gps-479453553807590434 .duration-300{transition-duration:.3s}.gps-479453553807590434 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479453553807590434 .disabled\:btn-disabled:disabled{cursor:default}.gps-479453553807590434 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-479453553807590434 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-479453553807590434 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-479453553807590434 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-479453553807590434 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-479453553807590434 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-479453553807590434 .tablet\:block{display:block}.gps-479453553807590434 .tablet\:hidden{display:none}}@media (max-width:767px){.gps-479453553807590434 .mobile\:block{display:block}.gps-479453553807590434 .mobile\:hidden{display:none}}.gps-479453553807590434 .\[\&\>svg\]\:h-auto>svg{height:auto}.gps-479453553807590434 .\[\&\>svg\]\:w-full>svg{width:100%}.gps-479453553807590434 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g32T-8nld2"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g32T-8nld2 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gd-0BhWeNx relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gf0bHfHFc0"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pb:var(--g-s-xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:1170px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gf0bHfHFc0 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_plIqkBDh relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)" class="gm6i4ibdf3 ">
      
    <div
      parentTag="Col"
        class="gm6i4ibdf3  overflow-clip"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:center;--c:#242424;--size:33px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size-tablet:33px;--size-mobile:29px;word-break:break-word"
      >
      <p>Why Choose Us Over Amazon Products?</p>
      </h2>
    </div>
      </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gn16xMqRbp"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-xl);--pb:var(--g-s-3xl);--pt-mobile:var(--g-s-xl);--pb-mobile:auto;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:770px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gn16xMqRbp mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKANRs2cnY relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g5kofF4-79"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mt:var(--g-s-xl);--mb:var(--g-s-xl);--pl:var(--g-s-3xl);--pr:var(--g-s-3xl);--cg:auto;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5kofF4-79 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRr3LlQgbp relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gUEoD0m6Ob"
        style="--b:solid;--bc:#322B85;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:relative;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mt:-24px;--mb:-24px;--z:2;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUEoD0m6Ob mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIgXcm4GUJ relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden g_twfO2gO-"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:30px;--mb:25px;--ta:center"
  >
    <div
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:80px;--w-tablet:80px;--w-mobile:80px;--radius:var(--g-radius-none)"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="{{ "478075823308408058-1737bc90-dd38-4201-acb8-364d063c8d6a.jpg" | asset_url }}" data-srcset="{{ '478075823308408058-1737bc90-dd38-4201-acb8-364d063c8d6a.jpg' | asset_img_url: '768x768' }} 768w, {{ '478075823308408058-1737bc90-dd38-4201-acb8-364d063c8d6a.jpg' | asset_img_url: '1024x1024' }} 1024w, {{ '478075823308408058-1737bc90-dd38-4201-acb8-364d063c8d6a.jpg' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="400" height="400" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:80/81;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:40px;--pr:var(--g-s-xl);--mb-mobile:40px;--pr-mobile:0px;--pr-tablet:0px" class="gJE5vUJbzG ">
      
    <div
      parentTag="Col"
        class="gJE5vUJbzG  overflow-clip"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:center;--c:#242424;--size:19px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
      >
      <p>Our Product</p>
      </h2>
    </div>
      </div>
      
      
    <div
      parentTag="Col" id="gHLw_acMda"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:18px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHLw_acMda mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSvUCpbAgN relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:35px;--ta:center"
      class="overflow-hidden leading-[0] gcraiH4INw"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gOvXqRlJUE"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:10px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOvXqRlJUE mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goNrSRAeg2 relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:42px;--ta:center"
      class="overflow-hidden leading-[0] gc7NPiIMs4"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="ggY07_jQ5a"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:2px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggY07_jQ5a mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbAK0Ag2yO relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:3px;--ta:center"
      class="overflow-hidden leading-[0] gMSa4EyJyC"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="goPo4HouzL"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goPo4HouzL mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7AuXFG25U relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:14px;--ta:center"
      class="overflow-hidden leading-[0] gn9TTttZnm"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6isfqKFs2 relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:16px;--pt:81px;--pb:81px" class="gG3UjbgMjH ">
      
    <div
      class="flex justify-start"
    >
      <div
        style="--w:100px;--w-tablet:100px;--w-mobile:100px;--bs:solid;--bbw:1pxpx;--bbw-tablet:undefinedpx;--bbw-mobile:undefinedpx;--t:rotate(0deg);--bc:transparent"
        class="block tablet:block mobile:block"
      ></div>
      <div
        class="items-center hidden tablet:hidden mobile:hidden"
        style="--w:100px;--w-tablet:100px;--w-mobile:100px;--bc:transparent;--t:rotate(0deg)"
      >
        
    <div
      class="hidden"
      style="--w:100px;--w-tablet:100px;--w-mobile:100px;--bc:transparent;--bs:solid;--bbw:1pxpx;--bbw-tablet:undefinedpx;--bbw-mobile:undefinedpx;--minw:100px"
    ></div>
  
        
            <span
              class="inline-flex items-center justify-center flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="inline-flex items-center justify-center flex-none g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="flex"
      style="--w:100px;--w-tablet:100px;--w-mobile:100px;--bc:transparent;--bs:solid;--bbw:1pxpx;--bbw-tablet:undefinedpx;--bbw-mobile:undefinedpx;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
      
      
    <div
      parentTag="Col" id="gUwNN4IGQk"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUwNN4IGQk mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gE_93fW4BD relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gcjIx0Jna6  overflow-clip"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:1px"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word"
      >
      <p>Includes <strong>Activated Charcoal Powder</strong>, Which is the REAL Ingredient for teeth Whitening</p>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gCyGiaCuJU"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCyGiaCuJU mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gaeMGwD_gX relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g9vVVHvvz7  overflow-clip"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word"
      >
      <p>Charcoal Powder, Toothpaste and Toothbrush set is <strong>RARE </strong>to find on Amazon</p>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gjwoZUTF45"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjwoZUTF45 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gy9AjvWHVe relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gkN81ma3Jp  overflow-clip"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word"
      >
      <p>Includes 120g of Toothpaste&nbsp;</p>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gmk6MPSUl7"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmk6MPSUl7 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3lIOvRZbT relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g6qCJfzJ8U  overflow-clip"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--weight:bold;word-break:break-word"
      >
      <p>More Affordable Price !!!</p>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQOq3pDwI8 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image overflow-hidden gEgASivcuf"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:24px;--mb:0px;--ta:center"
  >
    <div
      
    >
      <figure
        class="relative inline-block overflow-hidden align-middle"
        style="--w:80px;--w-tablet:80px;--w-mobile:80px;--radius:var(--g-radius-none)"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://m.media-amazon.com/images/I/81m4rdhi2FL.__AC_SX300_SY300_QL70_ML2_.jpg" data-srcset="https://m.media-amazon.com/images/I/81m4rdhi2FL.__AC_SX300_SY300_QL70_ML2_.jpg 768w,https://m.media-amazon.com/images/I/81m4rdhi2FL.__AC_SX300_SY300_QL70_ML2_.jpg 1024w,https://m.media-amazon.com/images/I/81m4rdhi2FL.__AC_SX300_SY300_QL70_ML2_.jpg 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="110" height="300" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:80/80;--objf:contain;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </figure>
    </div>
  </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--pr:var(--g-s-xl);--mb-mobile:24px;--pr-mobile:0px;--pr-tablet:0px" class="gIa55z6nM- ">
      
    <div
      parentTag="Col"
        class="gIa55z6nM-  overflow-clip"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:center;--c:#242424;--size:19px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
      >
      <p>Similar Products on Amazon</p>
      </h2>
    </div>
      </div>
      
      
    <div
      parentTag="Col" id="ge_vEDtzBY"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:18px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ge_vEDtzBY mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gv4wG8oBW9 relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:35px;--ta:center"
      class="overflow-hidden leading-[0] g2xflSPHkd"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FF0000;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.494 491.486C126.057 478.612 98.73 460.191 75.2711 436.733C51.813 413.273 33.3904 385.947 20.517 355.509C7.18036 323.977 0.417969 290.505 0.417969 256.022C0.417969 221.536 7.18036 188.064 20.5162 156.532C33.3904 126.096 51.8122 98.7683 75.2711 75.3102C98.73 51.8521 126.057 33.4295 156.494 20.5561C188.026 7.21943 221.498 0.457031 255.983 0.457031C290.466 0.457031 323.938 7.21856 355.471 20.5561C385.908 33.4295 413.235 51.8512 436.695 75.3102C460.152 98.7691 478.576 126.096 491.448 156.533C504.785 188.064 511.548 221.536 511.548 256.022C511.548 290.504 504.785 323.977 491.448 355.509C478.576 385.947 460.153 413.273 436.695 436.733C413.235 460.19 385.908 478.612 355.471 491.486C323.939 504.823 290.466 511.584 255.983 511.584C221.498 511.584 188.026 504.823 156.494 491.486ZM474.238 256.022C474.238 135.482 376.522 37.7656 255.983 37.7656C135.443 37.7656 37.7265 135.482 37.7265 256.022C37.7265 376.56 135.443 474.276 255.983 474.276C376.522 474.276 474.238 376.56 474.238 256.022ZM174.239 356.424C169.465 356.424 164.691 354.603 161.049 350.959C153.764 343.676 153.764 331.864 161.048 324.579L229.623 256.004L161.048 187.428C153.763 180.143 153.763 168.333 161.048 161.048C168.332 153.763 180.143 153.763 187.428 161.048L256.003 229.623L324.579 161.048C331.864 153.763 343.676 153.763 350.959 161.048C358.244 168.332 358.244 180.143 350.959 187.428L282.384 256.004L350.961 324.579C358.246 331.864 358.246 343.676 350.961 350.959C347.318 354.602 342.544 356.424 337.77 356.424C332.996 356.424 328.222 354.603 324.58 350.959L256.004 282.384L187.429 350.959C183.787 354.602 179.013 356.424 174.239 356.424Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g_jzymGhPn"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:47px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_jzymGhPn mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpRn-ygWg3 relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:5px;--ta:center"
      class="overflow-hidden leading-[0] gtx_2Mfdhf"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FF0000;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.494 491.486C126.057 478.612 98.73 460.191 75.2711 436.733C51.813 413.273 33.3904 385.947 20.517 355.509C7.18036 323.977 0.417969 290.505 0.417969 256.022C0.417969 221.536 7.18036 188.064 20.5162 156.532C33.3904 126.096 51.8122 98.7683 75.2711 75.3102C98.73 51.8521 126.057 33.4295 156.494 20.5561C188.026 7.21943 221.498 0.457031 255.983 0.457031C290.466 0.457031 323.938 7.21856 355.471 20.5561C385.908 33.4295 413.235 51.8512 436.695 75.3102C460.152 98.7691 478.576 126.096 491.448 156.533C504.785 188.064 511.548 221.536 511.548 256.022C511.548 290.504 504.785 323.977 491.448 355.509C478.576 385.947 460.153 413.273 436.695 436.733C413.235 460.19 385.908 478.612 355.471 491.486C323.939 504.823 290.466 511.584 255.983 511.584C221.498 511.584 188.026 504.823 156.494 491.486ZM474.238 256.022C474.238 135.482 376.522 37.7656 255.983 37.7656C135.443 37.7656 37.7265 135.482 37.7265 256.022C37.7265 376.56 135.443 474.276 255.983 474.276C376.522 474.276 474.238 376.56 474.238 256.022ZM174.239 356.424C169.465 356.424 164.691 354.603 161.049 350.959C153.764 343.676 153.764 331.864 161.048 324.579L229.623 256.004L161.048 187.428C153.763 180.143 153.763 168.333 161.048 161.048C168.332 153.763 180.143 153.763 187.428 161.048L256.003 229.623L324.579 161.048C331.864 153.763 343.676 153.763 350.959 161.048C358.244 168.332 358.244 180.143 350.959 187.428L282.384 256.004L350.961 324.579C358.246 331.864 358.246 343.676 350.961 350.959C347.318 354.602 342.544 356.424 337.77 356.424C332.996 356.424 328.222 354.603 324.58 350.959L256.004 282.384L187.429 350.959C183.787 354.602 179.013 356.424 174.239 356.424Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gfE1Q4GlJ7"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:3px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfE1Q4GlJ7 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g70ib9ueSk relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:1px;--ta:center"
      class="overflow-hidden leading-[0] gEQ231D0j1"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FF0000;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.494 491.486C126.057 478.612 98.73 460.191 75.2711 436.733C51.813 413.273 33.3904 385.947 20.517 355.509C7.18036 323.977 0.417969 290.505 0.417969 256.022C0.417969 221.536 7.18036 188.064 20.5162 156.532C33.3904 126.096 51.8122 98.7683 75.2711 75.3102C98.73 51.8521 126.057 33.4295 156.494 20.5561C188.026 7.21943 221.498 0.457031 255.983 0.457031C290.466 0.457031 323.938 7.21856 355.471 20.5561C385.908 33.4295 413.235 51.8512 436.695 75.3102C460.152 98.7691 478.576 126.096 491.448 156.533C504.785 188.064 511.548 221.536 511.548 256.022C511.548 290.504 504.785 323.977 491.448 355.509C478.576 385.947 460.153 413.273 436.695 436.733C413.235 460.19 385.908 478.612 355.471 491.486C323.939 504.823 290.466 511.584 255.983 511.584C221.498 511.584 188.026 504.823 156.494 491.486ZM474.238 256.022C474.238 135.482 376.522 37.7656 255.983 37.7656C135.443 37.7656 37.7265 135.482 37.7265 256.022C37.7265 376.56 135.443 474.276 255.983 474.276C376.522 474.276 474.238 376.56 474.238 256.022ZM174.239 356.424C169.465 356.424 164.691 354.603 161.049 350.959C153.764 343.676 153.764 331.864 161.048 324.579L229.623 256.004L161.048 187.428C153.763 180.143 153.763 168.333 161.048 161.048C168.332 153.763 180.143 153.763 187.428 161.048L256.003 229.623L324.579 161.048C331.864 153.763 343.676 153.763 350.959 161.048C358.244 168.332 358.244 180.143 350.959 187.428L282.384 256.004L350.961 324.579C358.246 331.864 358.246 343.676 350.961 350.959C347.318 354.602 342.544 356.424 337.77 356.424C332.996 356.424 328.222 354.603 324.58 350.959L256.004 282.384L187.429 350.959C183.787 354.602 179.013 356.424 174.239 356.424Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="ggcCFLKVwM"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggcCFLKVwM mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gWPLZsJ83k relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:15px;--ta:center"
      class="overflow-hidden leading-[0] giK5BIhfHb"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FF0000;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.494 491.486C126.057 478.612 98.73 460.191 75.2711 436.733C51.813 413.273 33.3904 385.947 20.517 355.509C7.18036 323.977 0.417969 290.505 0.417969 256.022C0.417969 221.536 7.18036 188.064 20.5162 156.532C33.3904 126.096 51.8122 98.7683 75.2711 75.3102C98.73 51.8521 126.057 33.4295 156.494 20.5561C188.026 7.21943 221.498 0.457031 255.983 0.457031C290.466 0.457031 323.938 7.21856 355.471 20.5561C385.908 33.4295 413.235 51.8512 436.695 75.3102C460.152 98.7691 478.576 126.096 491.448 156.533C504.785 188.064 511.548 221.536 511.548 256.022C511.548 290.504 504.785 323.977 491.448 355.509C478.576 385.947 460.153 413.273 436.695 436.733C413.235 460.19 385.908 478.612 355.471 491.486C323.939 504.823 290.466 511.584 255.983 511.584C221.498 511.584 188.026 504.823 156.494 491.486ZM474.238 256.022C474.238 135.482 376.522 37.7656 255.983 37.7656C135.443 37.7656 37.7265 135.482 37.7265 256.022C37.7265 376.56 135.443 474.276 255.983 474.276C376.522 474.276 474.238 376.56 474.238 256.022ZM174.239 356.424C169.465 356.424 164.691 354.603 161.049 350.959C153.764 343.676 153.764 331.864 161.048 324.579L229.623 256.004L161.048 187.428C153.763 180.143 153.763 168.333 161.048 161.048C168.332 153.763 180.143 153.763 187.428 161.048L256.003 229.623L324.579 161.048C331.864 153.763 343.676 153.763 350.959 161.048C358.244 168.332 358.244 180.143 350.959 187.428L282.384 256.004L350.961 324.579C358.246 331.864 358.246 343.676 350.961 350.959C347.318 354.602 342.544 356.424 337.77 356.424C332.996 356.424 328.222 354.603 324.58 350.959L256.004 282.384L187.429 350.959C183.787 354.602 179.013 356.424 174.239 356.424Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gR6frQnQtS"
        style="--b:solid;--bc:#ececec;--bw:1px 1px 1px 1px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb:var(--g-s-l);--mb-mobile:auto;--pr-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--cg-mobile:auto;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 7fr) minmax(0, 5fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gR6frQnQtS mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSKbNYZVjp relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gc2ZexsaG-"
        style="--b:solid;--bc:#322B85;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:relative;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--pl-mobile:var(--g-s-l);--z:2;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gc2ZexsaG- mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvaQqhQtrR relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-xl);--pt-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:0px;--pt-tablet:var(--g-s-xl);--pb-tablet:var(--g-s-xl);--pr-tablet:0px" class="gHpIc6YdA- ">
      
    <div
      parentTag="Col"
        class="gHpIc6YdA-  overflow-clip"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:center;--c:#242424;--size:19px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
      >
      <p>Your Brand</p>
      </h2>
    </div>
      </div>
      
      
    <div
      parentTag="Col" id="gxwMUxuL45"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--pt-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxwMUxuL45 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gw9BCqKyDw relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g7ZzDpFBy7  overflow-clip"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-xl)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:1;--c:#242424;word-break:break-word"
      >
      <p>Differentiation Point 1</p>
      </div>
    </div><div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="overflow-hidden leading-[0] gTlJIcYT12"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gIq7xmiPa-"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIq7xmiPa- mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZEPW1PmC8 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gwSe7dghH8  overflow-clip"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-xl)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:1;--c:#242424;word-break:break-word"
      >
      <p>Differentiation Point 2</p>
      </div>
    </div><div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="overflow-hidden leading-[0] gGk5rPy5hI"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gAopMwUuAH"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAopMwUuAH mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggoERn9J6i relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gLEvGIOT00  overflow-clip"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-xl)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:1;--c:#242424;word-break:break-word"
      >
      <p>Differentiation Point 3</p>
      </div>
    </div><div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="overflow-hidden leading-[0] gPPXxx6ZbT"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gfClcwJMSr"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfClcwJMSr mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGqkOJKoRi relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g-xueaCOq9  overflow-clip"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-xl)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:1;--c:#242424;word-break:break-word"
      >
      <p>Differentiation Point 4</p>
      </div>
    </div><div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="overflow-hidden leading-[0] gwugF6I5E1"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gF-7aetLkm"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gF-7aetLkm mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-wVtVdVsR relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gMNiODJ75u  overflow-clip"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-xl)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:1;--c:#242424;word-break:break-word"
      >
      <p>Differentiation Point 5</p>
      </div>
    </div><div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="overflow-hidden leading-[0] gzcRIKSoQW"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gACRMKF-Jg"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gACRMKF-Jg mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSL9avl7G_ relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g7DmuP18jH  overflow-clip"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-xl)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:1;--c:#242424;word-break:break-word"
      >
      <p>Differentiation Point 6</p>
      </div>
    </div><div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="overflow-hidden leading-[0] gYQD-lDdZY"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g6YTsov1hK"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6YTsov1hK mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3-zGeUJv_ relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gp53HIkk5w  overflow-clip"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-xl)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:1;--c:#242424;word-break:break-word"
      >
      <p>Differentiation Point 7</p>
      </div>
    </div><div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="overflow-hidden leading-[0] gc_LrZTyUY"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gFNDJr0Jxz"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:35px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFNDJr0Jxz mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gprokKkUtn relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gT913hA1lz  overflow-clip"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-xl)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:1;--c:#242424;word-break:break-word"
      >
      <p>Differentiation Point 8</p>
      </div>
    </div><div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="overflow-hidden leading-[0] gmTOIRUZ68"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gt66eixleA relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-xl);--mb-mobile:1px;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-s);--pb-mobile:var(--g-s-xl);--pr-mobile:0px;--pt-tablet:var(--g-s-xl);--pb-tablet:var(--g-s-xl);--pr-tablet:0px" class="g8vs54MgPQ ">
      
    <div
      parentTag="Col"
        class="g8vs54MgPQ  overflow-clip"
        style="--tt:default"
      >
      <h2
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:center;--c:#242424;--size:19px;--lh:130%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
      >
      <p>Other Brands</p>
      </h2>
    </div>
      </div>
      
      
    <div
      parentTag="Col" id="gqvGVwmhOt"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--pt-mobile:56px;--pb-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqvGVwmhOt mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTzX9mAz9b relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="overflow-hidden leading-[0] gDAXbCgAqH"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.494 491.486C126.057 478.612 98.73 460.191 75.2711 436.733C51.813 413.273 33.3904 385.947 20.517 355.509C7.18036 323.977 0.417969 290.505 0.417969 256.022C0.417969 221.536 7.18036 188.064 20.5162 156.532C33.3904 126.096 51.8122 98.7683 75.2711 75.3102C98.73 51.8521 126.057 33.4295 156.494 20.5561C188.026 7.21943 221.498 0.457031 255.983 0.457031C290.466 0.457031 323.938 7.21856 355.471 20.5561C385.908 33.4295 413.235 51.8512 436.695 75.3102C460.152 98.7691 478.576 126.096 491.448 156.533C504.785 188.064 511.548 221.536 511.548 256.022C511.548 290.504 504.785 323.977 491.448 355.509C478.576 385.947 460.153 413.273 436.695 436.733C413.235 460.19 385.908 478.612 355.471 491.486C323.939 504.823 290.466 511.584 255.983 511.584C221.498 511.584 188.026 504.823 156.494 491.486ZM474.238 256.022C474.238 135.482 376.522 37.7656 255.983 37.7656C135.443 37.7656 37.7265 135.482 37.7265 256.022C37.7265 376.56 135.443 474.276 255.983 474.276C376.522 474.276 474.238 376.56 474.238 256.022ZM174.239 356.424C169.465 356.424 164.691 354.603 161.049 350.959C153.764 343.676 153.764 331.864 161.048 324.579L229.623 256.004L161.048 187.428C153.763 180.143 153.763 168.333 161.048 161.048C168.332 153.763 180.143 153.763 187.428 161.048L256.003 229.623L324.579 161.048C331.864 153.763 343.676 153.763 350.959 161.048C358.244 168.332 358.244 180.143 350.959 187.428L282.384 256.004L350.961 324.579C358.246 331.864 358.246 343.676 350.961 350.959C347.318 354.602 342.544 356.424 337.77 356.424C332.996 356.424 328.222 354.603 324.58 350.959L256.004 282.384L187.429 350.959C183.787 354.602 179.013 356.424 174.239 356.424Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gLCx5DdV4m"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--pt-mobile:56px;--pb-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLCx5DdV4m mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQ9hTH1yKC relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="overflow-hidden leading-[0] g_YSzJz5_A"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.494 491.486C126.057 478.612 98.73 460.191 75.2711 436.733C51.813 413.273 33.3904 385.947 20.517 355.509C7.18036 323.977 0.417969 290.505 0.417969 256.022C0.417969 221.536 7.18036 188.064 20.5162 156.532C33.3904 126.096 51.8122 98.7683 75.2711 75.3102C98.73 51.8521 126.057 33.4295 156.494 20.5561C188.026 7.21943 221.498 0.457031 255.983 0.457031C290.466 0.457031 323.938 7.21856 355.471 20.5561C385.908 33.4295 413.235 51.8512 436.695 75.3102C460.152 98.7691 478.576 126.096 491.448 156.533C504.785 188.064 511.548 221.536 511.548 256.022C511.548 290.504 504.785 323.977 491.448 355.509C478.576 385.947 460.153 413.273 436.695 436.733C413.235 460.19 385.908 478.612 355.471 491.486C323.939 504.823 290.466 511.584 255.983 511.584C221.498 511.584 188.026 504.823 156.494 491.486ZM474.238 256.022C474.238 135.482 376.522 37.7656 255.983 37.7656C135.443 37.7656 37.7265 135.482 37.7265 256.022C37.7265 376.56 135.443 474.276 255.983 474.276C376.522 474.276 474.238 376.56 474.238 256.022ZM174.239 356.424C169.465 356.424 164.691 354.603 161.049 350.959C153.764 343.676 153.764 331.864 161.048 324.579L229.623 256.004L161.048 187.428C153.763 180.143 153.763 168.333 161.048 161.048C168.332 153.763 180.143 153.763 187.428 161.048L256.003 229.623L324.579 161.048C331.864 153.763 343.676 153.763 350.959 161.048C358.244 168.332 358.244 180.143 350.959 187.428L282.384 256.004L350.961 324.579C358.246 331.864 358.246 343.676 350.961 350.959C347.318 354.602 342.544 356.424 337.77 356.424C332.996 356.424 328.222 354.603 324.58 350.959L256.004 282.384L187.429 350.959C183.787 354.602 179.013 356.424 174.239 356.424Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g3EJE-T6n8"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--pt-mobile:56px;--pb-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3EJE-T6n8 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0bg4tz9Is relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="overflow-hidden leading-[0] gfmFtyxn1Q"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.494 491.486C126.057 478.612 98.73 460.191 75.2711 436.733C51.813 413.273 33.3904 385.947 20.517 355.509C7.18036 323.977 0.417969 290.505 0.417969 256.022C0.417969 221.536 7.18036 188.064 20.5162 156.532C33.3904 126.096 51.8122 98.7683 75.2711 75.3102C98.73 51.8521 126.057 33.4295 156.494 20.5561C188.026 7.21943 221.498 0.457031 255.983 0.457031C290.466 0.457031 323.938 7.21856 355.471 20.5561C385.908 33.4295 413.235 51.8512 436.695 75.3102C460.152 98.7691 478.576 126.096 491.448 156.533C504.785 188.064 511.548 221.536 511.548 256.022C511.548 290.504 504.785 323.977 491.448 355.509C478.576 385.947 460.153 413.273 436.695 436.733C413.235 460.19 385.908 478.612 355.471 491.486C323.939 504.823 290.466 511.584 255.983 511.584C221.498 511.584 188.026 504.823 156.494 491.486ZM474.238 256.022C474.238 135.482 376.522 37.7656 255.983 37.7656C135.443 37.7656 37.7265 135.482 37.7265 256.022C37.7265 376.56 135.443 474.276 255.983 474.276C376.522 474.276 474.238 376.56 474.238 256.022ZM174.239 356.424C169.465 356.424 164.691 354.603 161.049 350.959C153.764 343.676 153.764 331.864 161.048 324.579L229.623 256.004L161.048 187.428C153.763 180.143 153.763 168.333 161.048 161.048C168.332 153.763 180.143 153.763 187.428 161.048L256.003 229.623L324.579 161.048C331.864 153.763 343.676 153.763 350.959 161.048C358.244 168.332 358.244 180.143 350.959 187.428L282.384 256.004L350.961 324.579C358.246 331.864 358.246 343.676 350.961 350.959C347.318 354.602 342.544 356.424 337.77 356.424C332.996 356.424 328.222 354.603 324.58 350.959L256.004 282.384L187.429 350.959C183.787 354.602 179.013 356.424 174.239 356.424Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gvKE-TN2hE"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--pt-mobile:56px;--pb-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvKE-TN2hE mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYvkLoxPqx relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="overflow-hidden leading-[0] gpvIMUjIpO"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gt2Izpk1Ia"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--pt-mobile:56px;--pb-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gt2Izpk1Ia mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gd1I-42lD4 relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="overflow-hidden leading-[0] gfiddCkbeK"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.494 491.486C126.057 478.612 98.73 460.191 75.2711 436.733C51.813 413.273 33.3904 385.947 20.517 355.509C7.18036 323.977 0.417969 290.505 0.417969 256.022C0.417969 221.536 7.18036 188.064 20.5162 156.532C33.3904 126.096 51.8122 98.7683 75.2711 75.3102C98.73 51.8521 126.057 33.4295 156.494 20.5561C188.026 7.21943 221.498 0.457031 255.983 0.457031C290.466 0.457031 323.938 7.21856 355.471 20.5561C385.908 33.4295 413.235 51.8512 436.695 75.3102C460.152 98.7691 478.576 126.096 491.448 156.533C504.785 188.064 511.548 221.536 511.548 256.022C511.548 290.504 504.785 323.977 491.448 355.509C478.576 385.947 460.153 413.273 436.695 436.733C413.235 460.19 385.908 478.612 355.471 491.486C323.939 504.823 290.466 511.584 255.983 511.584C221.498 511.584 188.026 504.823 156.494 491.486ZM474.238 256.022C474.238 135.482 376.522 37.7656 255.983 37.7656C135.443 37.7656 37.7265 135.482 37.7265 256.022C37.7265 376.56 135.443 474.276 255.983 474.276C376.522 474.276 474.238 376.56 474.238 256.022ZM174.239 356.424C169.465 356.424 164.691 354.603 161.049 350.959C153.764 343.676 153.764 331.864 161.048 324.579L229.623 256.004L161.048 187.428C153.763 180.143 153.763 168.333 161.048 161.048C168.332 153.763 180.143 153.763 187.428 161.048L256.003 229.623L324.579 161.048C331.864 153.763 343.676 153.763 350.959 161.048C358.244 168.332 358.244 180.143 350.959 187.428L282.384 256.004L350.961 324.579C358.246 331.864 358.246 343.676 350.961 350.959C347.318 354.602 342.544 356.424 337.77 356.424C332.996 356.424 328.222 354.603 324.58 350.959L256.004 282.384L187.429 350.959C183.787 354.602 179.013 356.424 174.239 356.424Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gYCJC6eUMg"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--pt-mobile:56px;--pb-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYCJC6eUMg mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYM9EFnAMF relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="overflow-hidden leading-[0] gMdW-3Xr4T"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.494 491.486C126.057 478.612 98.73 460.191 75.2711 436.733C51.813 413.273 33.3904 385.947 20.517 355.509C7.18036 323.977 0.417969 290.505 0.417969 256.022C0.417969 221.536 7.18036 188.064 20.5162 156.532C33.3904 126.096 51.8122 98.7683 75.2711 75.3102C98.73 51.8521 126.057 33.4295 156.494 20.5561C188.026 7.21943 221.498 0.457031 255.983 0.457031C290.466 0.457031 323.938 7.21856 355.471 20.5561C385.908 33.4295 413.235 51.8512 436.695 75.3102C460.152 98.7691 478.576 126.096 491.448 156.533C504.785 188.064 511.548 221.536 511.548 256.022C511.548 290.504 504.785 323.977 491.448 355.509C478.576 385.947 460.153 413.273 436.695 436.733C413.235 460.19 385.908 478.612 355.471 491.486C323.939 504.823 290.466 511.584 255.983 511.584C221.498 511.584 188.026 504.823 156.494 491.486ZM474.238 256.022C474.238 135.482 376.522 37.7656 255.983 37.7656C135.443 37.7656 37.7265 135.482 37.7265 256.022C37.7265 376.56 135.443 474.276 255.983 474.276C376.522 474.276 474.238 376.56 474.238 256.022ZM174.239 356.424C169.465 356.424 164.691 354.603 161.049 350.959C153.764 343.676 153.764 331.864 161.048 324.579L229.623 256.004L161.048 187.428C153.763 180.143 153.763 168.333 161.048 161.048C168.332 153.763 180.143 153.763 187.428 161.048L256.003 229.623L324.579 161.048C331.864 153.763 343.676 153.763 350.959 161.048C358.244 168.332 358.244 180.143 350.959 187.428L282.384 256.004L350.961 324.579C358.246 331.864 358.246 343.676 350.961 350.959C347.318 354.602 342.544 356.424 337.77 356.424C332.996 356.424 328.222 354.603 324.58 350.959L256.004 282.384L187.429 350.959C183.787 354.602 179.013 356.424 174.239 356.424Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gSU4se0_83"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--pt-mobile:56px;--pb-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSU4se0_83 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goxsrv9qRy relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="overflow-hidden leading-[0] gQ2WbQGZ2k"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M512 256A256 256 0 1 1 0 256a256 256 0 0 1 512 0zm-127.04 -96.96a24 24 0 0 0 -34.56 0.704L239.264 301.344 172.288 234.336a24 24 0 0 0 -33.92 33.92L223.04 352.96a24 24 0 0 0 34.528 -0.64l127.744 -159.68a24 24 0 0 0 -0.32 -33.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gfRAUSg-R8"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--pt-mobile:56px;--pb-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfRAUSg-R8 mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g54Oy2-W2V relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="overflow-hidden leading-[0] gvyxXjmOQW"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M156.494 491.486C126.057 478.612 98.73 460.191 75.2711 436.733C51.813 413.273 33.3904 385.947 20.517 355.509C7.18036 323.977 0.417969 290.505 0.417969 256.022C0.417969 221.536 7.18036 188.064 20.5162 156.532C33.3904 126.096 51.8122 98.7683 75.2711 75.3102C98.73 51.8521 126.057 33.4295 156.494 20.5561C188.026 7.21943 221.498 0.457031 255.983 0.457031C290.466 0.457031 323.938 7.21856 355.471 20.5561C385.908 33.4295 413.235 51.8512 436.695 75.3102C460.152 98.7691 478.576 126.096 491.448 156.533C504.785 188.064 511.548 221.536 511.548 256.022C511.548 290.504 504.785 323.977 491.448 355.509C478.576 385.947 460.153 413.273 436.695 436.733C413.235 460.19 385.908 478.612 355.471 491.486C323.939 504.823 290.466 511.584 255.983 511.584C221.498 511.584 188.026 504.823 156.494 491.486ZM474.238 256.022C474.238 135.482 376.522 37.7656 255.983 37.7656C135.443 37.7656 37.7265 135.482 37.7265 256.022C37.7265 376.56 135.443 474.276 255.983 474.276C376.522 474.276 474.238 376.56 474.238 256.022ZM174.239 356.424C169.465 356.424 164.691 354.603 161.049 350.959C153.764 343.676 153.764 331.864 161.048 324.579L229.623 256.004L161.048 187.428C153.763 180.143 153.763 168.333 161.048 161.048C168.332 153.763 180.143 153.763 187.428 161.048L256.003 229.623L324.579 161.048C331.864 153.763 343.676 153.763 350.959 161.048C358.244 168.332 358.244 180.143 350.959 187.428L282.384 256.004L350.961 324.579C358.246 331.864 358.246 343.676 350.961 350.959C347.318 354.602 342.544 356.424 337.77 356.424C332.996 356.424 328.222 354.603 324.58 350.959L256.004 282.384L187.429 350.959C183.787 354.602 179.013 356.424 174.239 356.424Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gAp3WyyK6v"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAp3WyyK6v mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ge-c9_LJVR relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gc7AUFqt9M  overflow-clip"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word"
      >
      <p>What Are You Waiting For?&nbsp;</p>
      </div>
    </div><div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    class=""
  >
    <style>
    .gba3_dJaC6.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gba3_dJaC6:hover::before {
      
      
    }
  </style>
    <a
      href="{{ shop.url }}{{ routes.root_url | split: '/' | join: '/' }}/products/bamboo-charcoal-toothpaste-teeth-whitening-powder-toothbrush-set" target="_self" data-id="gba3_dJaC6" aria-label="REVEAL OFFER"
      data-state="idle"
      class="gba3_dJaC6 gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none flex-row-reverse text-g-text-3 g-s-large"
      style="--hvr-bg:#473FA8;--bg:#322B85;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:2.4492935982947064e-16px 4px 8px 0px rgba(0, 0, 0, 0.25);--c:var(--g-c-text-3, text-3);--w:468px;--w-tablet:468px;--w-mobile:100%;--tt:default;--size:19px;--lh:130%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:16px;--lh-mobile:130%"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible"
        style="--ml:8px;--w:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"> 	<path fill="#FBC435" strokeLinecap="round" strokeLinejoin="round" fill="#FBC435" d="M512 199.652c0 23.625-20.65 43.826-44.8 43.826h-99.851c16.34 17.048 18.346 49.766-6.299 70.944 14.288 22.829 2.147 53.017-16.45 62.315C353.574 425.878 322.654 448 272 448c-2.746 0-13.276-.203-16-.195-61.971.168-76.894-31.065-123.731-38.315C120.596 407.683 112 397.599 112 385.786V214.261l.002-.001c.011-18.366 10.607-35.889 28.464-43.845 28.886-12.994 95.413-49.038 107.534-77.323 7.797-18.194 21.384-29.084 40-29.092 34.222-.014 57.752 35.098 44.119 66.908-3.583 8.359-8.312 16.67-14.153 24.918H467.2c23.45 0 44.8 20.543 44.8 43.826zM96 200v192c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V200c0-13.255 10.745-24 24-24h48c13.255 0 24 10.745 24 24zM68 368c0-11.046-8.954-20-20-20s-20 8.954-20 20 8.954 20 20 20 20-8.954 20-20z" /> </svg></span>
      <span
        class="truncate group-data-[state=loading]:invisible "
        style="--tt:default"
      >
        REVEAL OFFER
      </span>
    </a>
  </div>
    
    <div
      uid="gDyTihYUF3"
       style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-s);--ta:center;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="inline-flex flex-col"
        style="--rg:auto"
        >
        
    <li
      class="flex w-full items-center gp-icon-list-item"
      style="--cg:var(--g-s-xs)"
    >
    <div
      
      style=""
      class="goPPTNG5gz relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="overflow-hidden leading-[0] gTGfydhDtC"
    >
      <div class="inline-flex g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:20px;--h:20px;--minw:20px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto text-g-line-3"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M407.552 127.04a23.456 23.456 0 0 1 33.504 0c9.152 9.248 9.28 24.192 0.32 33.6L252.16 384.32a23.456 23.456 0 0 1 -34.08 0.64L102.944 268.288a24.224 24.224 0 0 1 0 -33.92 23.456 23.456 0 0 1 33.504 0l97.664 98.976 172.8 -205.6a7.904 7.904 0 0 1 0.64 -0.704Z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      
      style=""
      class="g0B7KYip1C relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g--3ZMrGl_  overflow-clip"
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div
        data-gp-text
        class="gp-text"
        style="--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--size:16px;--lh:150%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size-tablet:16px;--lh-tablet:150%;--size-mobile:14px;word-break:break-word"
      >
      <p>30 day money back guarantee</p>
      </div>
    </div>
    </div>
  </li>
      </ul>
  </div>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section gui2eLW3EL",
    "tag": "section",
    "class": "gps-479453553807590434 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=479453553807590434)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
