
  
  <style>
    .gps-479338208199443253 [data-browser=safari]:after{--tw-gradient-from-position: ;--tw-gradient-via-position: ;--tw-gradient-to-position: }.gps-479338208199443253 .shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000}.gps-479338208199443253 .blur{--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: }.gps-479338208199443253 .btn-disabled{cursor:default}.gps-479338208199443253 .g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-479338208199443253 .g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-479338208199443253 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-479338208199443253 .g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-479338208199443253 .g-s-medium{padding:8px 24px}.gps-479338208199443253 .sr-only{clip:rect(0,0,0,0);border-width:0;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;white-space:nowrap;width:1px}.gps-479338208199443253 .pointer-events-none{pointer-events:none}.gps-479338208199443253 .invisible{visibility:hidden}.gps-479338208199443253 .static{position:static}.gps-479338208199443253 .absolute{position:absolute}.gps-479338208199443253 .relative{position:relative}.gps-479338208199443253 .mx-auto{margin-left:auto;margin-right:auto}.gps-479338208199443253 .\!ml-0{margin-left:0!important}.gps-479338208199443253 .mb-0{margin-bottom:0}.gps-479338208199443253 .ml-1{margin-left:4px}.gps-479338208199443253 .mt-4{margin-top:16px}.gps-479338208199443253 .block{display:block}.gps-479338208199443253 .inline-block{display:inline-block}.gps-479338208199443253 .flex{display:flex}.gps-479338208199443253 .inline-flex{display:inline-flex}.gps-479338208199443253 .grid{display:grid}.gps-479338208199443253 .contents{display:contents}.gps-479338208199443253 .\!hidden{display:none!important}.gps-479338208199443253 .hidden{display:none}.gps-479338208199443253 .aspect-square{aspect-ratio:1/1}.gps-479338208199443253 .h-5{height:20px}.gps-479338208199443253 .h-auto{height:auto}.gps-479338208199443253 .h-full{height:100%}.gps-479338208199443253 .w-5{width:20px}.gps-479338208199443253 .w-full{width:100%}.gps-479338208199443253 .min-w-\[45px\]{min-width:45px}.gps-479338208199443253 .min-w-fit{min-width:-moz-fit-content;min-width:fit-content}.gps-479338208199443253 .max-w-full{max-width:100%}.gps-479338208199443253 .shrink-\[99999\]{flex-shrink:99999}@keyframes spin{to{transform:rotate(1turn)}}.gps-479338208199443253 .animate-spin{animation:spin 1s linear infinite}.gps-479338208199443253 .\!cursor-not-allowed{cursor:not-allowed!important}.gps-479338208199443253 .cursor-pointer{cursor:pointer}.gps-479338208199443253 .appearance-none{-webkit-appearance:none;-moz-appearance:none;appearance:none}.gps-479338208199443253 .flex-col{flex-direction:column}.gps-479338208199443253 .flex-wrap{flex-wrap:wrap}.gps-479338208199443253 .items-start{align-items:flex-start}.gps-479338208199443253 .items-center{align-items:center}.gps-479338208199443253 .justify-start{justify-content:flex-start}.gps-479338208199443253 .justify-center{justify-content:center}.gps-479338208199443253 .overflow-hidden{overflow:hidden}.gps-479338208199443253 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-479338208199443253 .break-words{overflow-wrap:break-word}.gps-479338208199443253 .rounded-none{border-radius:0}.gps-479338208199443253 .border{border-width:1px}.gps-479338208199443253 .\!border-x-0{border-left-width:0!important;border-right-width:0!important}.gps-479338208199443253 .border-y{border-bottom-width:1px;border-top-width:1px}.gps-479338208199443253 .border-g-line-2{border-color:var(--g-c-line-2)}.gps-479338208199443253 .bg-g-bg-3{background-color:var(--g-c-bg-3)}.gps-479338208199443253 .bg-g-brand{background-color:var(--g-c-brand)}.gps-479338208199443253 .bg-transparent{background-color:transparent}.gps-479338208199443253 .bg-auto{background-size:auto}.gps-479338208199443253 .object-contain{-o-object-fit:contain;object-fit:contain}.gps-479338208199443253 .p-2{padding:8px}.gps-479338208199443253 .px-4,.gps-479338208199443253 .px-\[16px\]{padding-left:16px;padding-right:16px}.gps-479338208199443253 .pl-4{padding-left:16px}.gps-479338208199443253 .pr-6{padding-right:24px}.gps-479338208199443253 .text-center{text-align:center}.gps-479338208199443253 .text-g-text-1{color:var(--g-c-text-1)}.gps-479338208199443253 .text-g-text-2{color:var(--g-c-text-2)}.gps-479338208199443253 .text-g-text-3{color:var(--g-c-text-3)}.gps-479338208199443253 .line-through{text-decoration-line:line-through}.gps-479338208199443253 .no-underline{text-decoration-line:none}.gps-479338208199443253 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-479338208199443253 .opacity-20{opacity:.2}.gps-479338208199443253 .opacity-25{opacity:.25}.gps-479338208199443253 .opacity-30{opacity:.3}.gps-479338208199443253 .opacity-75{opacity:.75}.gps-479338208199443253 .shadow-none{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-479338208199443253 .outline-none{outline:2px solid transparent;outline-offset:2px}.gps-479338208199443253 .blur{--tw-blur:blur(8px);filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}.gps-479338208199443253 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479338208199443253 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479338208199443253 .duration-150{transition-duration:.15s}.gps-479338208199443253 .duration-200{transition-duration:.2s}.gps-479338208199443253 .duration-300{transition-duration:.3s}.gps-479338208199443253 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-479338208199443253 .disabled\:btn-disabled:disabled{cursor:default}.gps-479338208199443253 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:g-paragraph-1 .shopify-payment-button__button--unbranded{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-479338208199443253 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:g-s-medium .shopify-payment-button__button--unbranded{padding:8px 24px}@media (hover:hover) and (pointer:fine){.gps-479338208199443253 .hover\:border-g-line-3:hover{border-color:var(--g-c-line-3)}.gps-479338208199443253 .hover\:bg-g-bg-3:hover{background-color:var(--g-c-bg-3)}.gps-479338208199443253 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-479338208199443253 .hover\:text-black:hover{--tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity))}.gps-479338208199443253 .hover\:text-g-text-2:hover{color:var(--g-c-text-2)}.gps-479338208199443253 .hover\:opacity-80:hover{opacity:.8}}.gps-479338208199443253 .active\:bg-g-bg-3:active{background-color:var(--g-c-bg-3)}.gps-479338208199443253 .active\:text-g-text-2:active{color:var(--g-c-text-2)}.gps-479338208199443253 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-479338208199443253 .disabled\:cursor-not-allowed:disabled{cursor:not-allowed}.gps-479338208199443253 .disabled\:opacity-30:disabled{opacity:.3}.gps-479338208199443253 .data-\[disabled\=\'disabled\'\]\:pointer-events-none[data-disabled=disabled],.gps-479338208199443253 .data-\[disabled\=true\]\:pointer-events-none[data-disabled=true]{pointer-events:none}.gps-479338208199443253 .data-\[hidden\=true\]\:hidden[data-hidden=true]{display:none}.gps-479338208199443253 .data-\[disabled\=\'disabled\'\]\:\!cursor-not-allowed[data-disabled=disabled]{cursor:not-allowed!important}.gps-479338208199443253 .data-\[disabled\=true\]\:cursor-not-allowed[data-disabled=true]{cursor:not-allowed}.gps-479338208199443253 .data-\[disabled\=true\]\:opacity-60[data-disabled=true]{opacity:.6}.gps-479338208199443253 .data-\[browser\=safari\]\:after\:absolute[data-browser=safari]:after{content:var(--tw-content);position:absolute}.gps-479338208199443253 .data-\[browser\=safari\]\:after\:bottom-0[data-browser=safari]:after{bottom:0;content:var(--tw-content)}.gps-479338208199443253 .data-\[browser\=safari\]\:after\:left-0[data-browser=safari]:after{content:var(--tw-content);left:0}.gps-479338208199443253 .data-\[browser\=safari\]\:after\:right-0[data-browser=safari]:after{content:var(--tw-content);right:0}.gps-479338208199443253 .data-\[browser\=safari\]\:after\:h-1\/2[data-browser=safari]:after{content:var(--tw-content);height:50%}.gps-479338208199443253 .data-\[browser\=safari\]\:after\:w-full[data-browser=safari]:after{content:var(--tw-content);width:100%}.gps-479338208199443253 .data-\[browser\=safari\]\:after\:bg-gradient-to-t[data-browser=safari]:after{background-image:linear-gradient(to top,var(--tw-gradient-stops));content:var(--tw-content)}.gps-479338208199443253 .data-\[browser\=safari\]\:after\:from-white[data-browser=safari]:after{--tw-gradient-from:#fff var(--tw-gradient-from-position);--tw-gradient-to:hsla(0,0%,100%,0) var(--tw-gradient-to-position);--tw-gradient-stops:var(--tw-gradient-from),var(--tw-gradient-to);content:var(--tw-content)}.gps-479338208199443253 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-479338208199443253 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-479338208199443253 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-479338208199443253 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:min-h-fit .shopify-payment-button__button--unbranded{min-height:-moz-fit-content;min-height:fit-content}.gps-479338208199443253 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:truncate .shopify-payment-button__button--unbranded{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-479338208199443253 .\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:text-g-text-3 .shopify-payment-button__button--unbranded{color:var(--g-c-text-3)}.gps-479338208199443253 .disabled\:\[\&_\.shopify-payment-button\\_\\_button--unbranded\]\:pointer-events-none .shopify-payment-button__button--unbranded:disabled{pointer-events:none}@media not all and (-webkit-min-device-pixel-ratio:0),not all and (min-resolution:0.001dpcm){.gps-479338208199443253 .safari\:\[\&_p\]\:inline p{display:inline}.gps-479338208199443253 .safari\:\[\&_p\]\:after\:whitespace-pre p:after{content:var(--tw-content);white-space:pre}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(90% + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g6r2j4wsxX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:90%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6r2j4wsxX mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqf0AGQxKr relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product.v2.js" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '8674848309548' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['bamboo-charcoal-toothpaste-teeth-whitening-powder-toothbrush-set']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products 
                      if item.id == '8674848309548'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '8674848309548' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['bamboo-charcoal-toothpaste-teeth-whitening-powder-toothbrush-set']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products 
                    if item.id == '8674848309548'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gllp0rxWPC" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product class="" gp-context='{"productId": {{ product.id }}, "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
          <input type="hidden" name="id" value="{{ variant.id }}" />
          <input type="hidden" name="quantity" value="{{ quantity }}" />
          <button type="submit" onclick="return false;" style="display:none;"></button>
          
      
      
    <div
      id
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start;--d-mobile:none"
      class="gn_PT7D6r6 relative flex flex-col"
    >
      
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gAywzbBRY- relative flex flex-col"
    >
      <div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gGHelkq-cI ">
      
    {%- unless product -%}
      <p>Product not found</p>
    {%- else -%}
      
        
    <div
      
        class=" "
        style=""
      >
      <h1
        data-gp-text
        class="text-g-text-2 g-subheading-3"
        style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-2, text-2);word-break:break-word"
      >
      {{ product.title }}
      </h1>
    </div>
      
    {%- endunless -%}
  
      </div>
      
      
    <div
      parentTag="Col" id="gThOv8iIgd"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gThOv8iIgd mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gBgV5h2a3v relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-price.js" defer="defer"></script>
      <gp-product-price
        gp-data='{"priceType":"regular","uid":"gtKPecZ7Mm","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        class=" data-[hidden=true]:hidden"
        style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
        data-hidden="false"
      >
        
    <div
      id="p-price-gtKPecZ7Mm"
        class=" "
        style=""
      >
      <div
        data-gp-text
        class="gp-price decoration-g-text-1 text-g-text-2 g-subheading-2"
        style="--tdc:text-1;--tdt:1;--ta:left;--c:var(--g-c-text-2, text-2);word-break:break-word"
      >
      
                  {% if variant.price %} 
                    {{ variant.price | money}}
                  {% endif %}
                
      </div>
    </div>
      </gp-product-price>
  
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gNNWduP4Oa relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-price.js" defer="defer"></script>
      <gp-product-price
        gp-data='{"priceType":"compare","uid":"g1KvuykUGe","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        class=" data-[hidden=true]:hidden"
        style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
        data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
      >
        
    <div
      id="p-price-g1KvuykUGe"
        class=" "
        style=""
      >
      <div
        data-gp-text
        class="gp-price line-through decoration-g-text-1 text-g-text-1 g-subheading-2"
        style="--tdc:text-1;--tdt:1;--ta:left;--c:var(--g-c-text-1, text-1);word-break:break-word"
      >
      
                  {% if variant.compare_at_price  %} 
                    {{ variant.compare_at_price | money}}
                  {% endif %}
                
      </div>
    </div>
      </gp-product-price>
  
    </div>
    </div>
  
    <div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="ghXt3VazDX ">
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-description.js" defer="defer"></script>
  <gp-product-description class="" gp-data='{"setting":{"htmlTag":"html","hasLineClamp":{"desktop":true},"lineClamp":{"desktop":12},"viewMoreText":"Show more","viewLessText":"Show less","enableViewMoreIcon":true,"typo":{"type":"paragraph-1","attrs":{"color":"text-1"}},"textAlign":{"desktop":"left"},"color":"text-1","showMoreColor":"text-1"},"styles":{"htmlTag":"html","hasLineClamp":{"desktop":true},"lineClamp":{"desktop":12},"viewMoreText":"Show more","viewLessText":"Show less","enableViewMoreIcon":true,"typo":{"type":"paragraph-1","attrs":{"color":"text-1"}},"textAlign":{"desktop":"left"},"color":"text-1","showMoreColor":"text-1"},"defaultStyle":{"--ta":"left","--c":"var(--g-c-text-1, text-1)"},"collapseStyle":{"--ta":"left","--c":"var(--g-c-text-1, text-1)","--line-clamp":12}}'>
  {%- unless product -%}
    <p>Product not found</p>
  {%- else -%}
    <div
      class="relative p-description-wrapper gp-p-description-text break-words safari:[&_p]:inline safari:[&_p]:after:whitespace-pre g-paragraph-1 text-g-text-1 data-[browser=safari]:after:content-[' '] data-[browser=safari]:after:absolute data-[browser=safari]:after:left-0 data-[browser=safari]:after:right-0 data-[browser=safari]:after:bottom-0 data-[browser=safari]:after:w-full data-[browser=safari]:after:h-1/2 data-[browser=safari]:after:bg-gradient-to-t data-[browser=safari]:after:from-white"
      style="--ta:left;--c:var(--g-c-text-1, text-1);--line-clamp:12"
    >
    {{product.description}}
    </div>
    <button
      type="button"
      class="p-description-show-more g-paragraph-1 text-g-text-1 mt-4 hover:opacity-80 transition-all"
      style="--c:var(--g-c-text-1, text-1);--d:block;--d-mobile:block;--d-tablet:block;display:none"
    >
    
      Show more
      <svg
          class="ml-1 inline-block"
          style="display: inline-block; margin-left: 1px;"
          height="1em"
          width="1em"
          viewBox="0 0 22 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
              d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM11 11L10.2929 11.7071C10.6834 12.0976 11.3166 12.0976 11.7071 11.7071L11 11ZM21.7071 1.70711C22.0976 1.31658 22.0976 0.683417 21.7071 0.292893C21.3166 -0.0976311 20.6834 -0.0976311 20.2929 0.292893L21.7071 1.70711ZM0.292893 1.70711L10.2929 11.7071L11.7071 10.2929L1.70711 0.292893L0.292893 1.70711ZM11.7071 11.7071L21.7071 1.70711L20.2929 0.292893L10.2929 10.2929L11.7071 11.7071Z"
              fill="currentColor"
          />
        </svg>
    </button>
  {%- endunless -%}
  {% style %}
    .p-description-wrapper.gp-p-description-text * {
      color: inherit
    }
  {% endstyle %}
  </gp-product-description>
  
      </div><div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="gApnMB9IO4 ">
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-variant.js" defer="defer"></script>
  <gp-product-variants class="" gp-data='{"setting":{"optionType":"singleOption","label":true,"optionAlign":{"desktop":"left"},"price":true,"showAsSwatches":true,"soldOutMark":true,"layout":{"desktop":"vertical"},"column":{"desktop":1},"hasPreSelected":true,"blankText":"Please select an option"}, "styles":{"fullWidth":{"desktop":true},"width":{"desktop":"400px"},"optionSpacing":"30px","labelGap":"8px","swatchAutoWidth":{"desktop":true},"swatchWidth":{"desktop":"80px"},"swatchHeight":{"desktop":"45px"},"swatchSpacing":"var(--g-s-m)","marginBottom":{"desktop":"var(--g-s-xl)","mobile":"var(--g-s-xl)"},"align":{"desktop":"left"},"labelTypo":{"type":"paragraph-2","attrs":{"color":"text-1"}},"labelColor":"text-2","optionTypo":{"type":"paragraph-2"},"optionBgColor":{"normal":"bg-3","hover":"bg-3","active":"bg-3"},"optionTextColor":{"normal":"text-2","hover":"text-2","active":"text-2"},"optionBorder":{"normal":{"borderType":"style-2","border":"solid","color":"line-2","isCustom":false,"width":"1px 1px 1px 1px","borderWidth":"1px"},"active":{"borderType":"style-3","border":"solid","color":"line-3","isCustom":false,"width":"2px 2px 2px 2px","borderWidth":"2px"},"hover":{"borderType":"style-3","border":"solid","color":"line-3","isCustom":false,"width":"1px 1px 1px 1px","borderWidth":"1px"}},"optionRounded":{"normal":{"radiusType":"none"},"hover":{"radiusType":"none"},"active":{"radiusType":"none"}},"optionHasShadow":{"normal":false},"optionShadow":{"normal":{"type":"shadow-1","distance":"4px","blur":"12px","spread":"0px","color":"rgba(0, 0, 0, 0.20)","angle":90}},"dropdownItemWidth":{"desktop":"fill","mobile":"fill","tablet":"fill"},"fixedDropdownWidth":{"desktop":"240px"},"swatchItemWidth":{"desktop":"auto"}}, "variants":{{product.variants | json | escape}}, 
      "optionsWithValues": {{product.options_with_values | json | escape}},
      "variantSelected": {{productSelectedVariant | json | escape}},
      "variantInventoryQuantity": {{product.variants | map: 'inventory_quantity' | json | escape}}
    }
  '>
    {%- assign options = product.options_with_values -%}
    {%- assign variants = product.variants -%}
    {%- if options.size == 0 or options.size == 1 and options[0].name == 'Title' and options[0].values.size == 1 and options[0].values[0] == 'Default Title' -%}
      <div>
      
      </div>    
    {% else %}
      <div
      class="grid !ml-0"
      style="--gtc:repeat(1, minmax(0, 1fr));--ta:left;--w:100%;--w-tablet:100%;--w-mobile:100%;--rg:var(--g-s-xl);--rg-mobile:var(--g-s-xl)"
    >
      
      {%- for option in options -%}
        <div
        option-name="{{option.name}}"
        class="flex variant-inside flex-col items-start"

        >
          
    <div
      
        class=" "
        style="--mb:8px;--mr:0px;--mb-tablet:8px;--mr-tablet:0px;--mb-mobile:8px;--mr-mobile:0px"
      >
      <legend
        data-gp-text
        class="g-paragraph-2 g-paragraph-2"
        style="--c:var(--g-c-text-1, text-1);word-break:break-word"
      >
      {{option.name}}
      </legend>
    </div>

          <div
              class="justify-start flex w-full flex-wrap items-center"
              style="--rg:var(--g-s-m);--cg:var(--g-s-m)"
            >
              {%- assign values = option.values -%}
              {%- assign rootForloop = forloop.index0 -%}
              {%- if option.position == 1 -%}
                {%- assign selectedValue = variant.option1 -%}
              {%- elsif option.position == 2 -%}
                {%- assign selectedValue = variant.option2 -%}
              {%- else -%}
                {%- assign selectedValue = variant.option3 -%}
              {%- endif -%}
              
              
    {% assign optionRendered = false %}
    {%  assign swatches = shop.metafields.GEMPAGES.swatches %}
    {%  assign swatchesItems = swatches | split: '($1)'  %}
    {% for swatchesItem in swatchesItems %}
      {% assign colorArraysString = "" %}
      {% assign labelsString = "" %}
      {% assign imageUrlsString = "" %}
    
      {%  assign attrItems = swatchesItem | split: '($3)'  %}
      {% for attrItem in attrItems %}
        {%  assign attrs = attrItem | split: '($2)'  %}
    
        
          {% assign optionKey = attrs[0] %}
          {% assign optionValue = attrs[1] %}
          {% if optionKey == 'optionTitle' %}
                {% assign optionTitle = optionValue %}
              {% elsif optionKey == 'optionType' %}
                {% assign optionType = optionValue %}
            {% endif %}
        

            {% if optionKey == 'optionValues' %}
            
              {% assign opValueItems = optionValue | split: '($4)'  %}
              {% for opValueItem in opValueItems %}
                {% assign opValueItemAttrs = opValueItem | split: '($6)'  %}
                {% for opValueItemAttr in opValueItemAttrs %}
                  {% assign attrs = opValueItemAttr | split: '($5)'  %}
                  {% assign opValueItemKey = attrs[0] %}
                  {% assign opValueItemValue = attrs[1] %}

                  {% if opValueItemKey == 'label' %}
                    {% assign labelsString = labelsString | append: opValueItemValue %}
                    {% assign labelsString = labelsString | append: "($8)" %}
                  {% endif %}

                  {% if opValueItemKey == 'colors' %}   
                    {% assign colorArraysString = colorArraysString | append: opValueItemValue %}
                    {% assign colorArraysString = colorArraysString | append: "($8)" %}
                  {% endif %}

                  {% if opValueItemKey == 'imageUrl' %}   
                    {% assign imageUrlsString = imageUrlsString | append: opValueItemValue %}
                    {% assign imageUrlsString = imageUrlsString | append: "($8)" %}
                    
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endif %}
        
      {% endfor %}
      {% assign labels = labelsString | split: '($8)' %}
      {% assign colorStrings = colorArraysString | split: '($8)' %}
      {% assign imageUrls = imageUrlsString | split: '($8)' %}

      {% if optionTitle == option.name %}
        {% if optionType == 'color' or optionType == 'image' or optionType == 'rectangle_list' or optionType == 'image_shopify' %}
            {% assign optionRendered = true %}
            {%- for value in values -%}
                
    {%- liquid
      assign option_disabled = true
      for variantItem in product.variants
        case option.position
          when 1
            if variantItem.available and variantItem.option1 == value
              assign option_disabled = false
            endif
          when 2
            if variantItem.available and variantItem.option2 == value
              assign option_disabled = false
            endif
          when 3
            if variantItem.available and variantItem.option3 == value
              assign option_disabled = false
            endif
        endcase
      endfor
    -%}

  
  <div
    id="{{option.name | escape}}-{{value | escape}}"
    for="gApnMB9IO4-{{option.name | escape}}-{{option.position}}-{{ forloop.index }}"
    {%- if option_disabled == true -%}
    class="option-item-active option-item opacity-20"
    {% else %}
    class="option-item-active option-item"
    {%- endif -%}
  >
    <input
      checked="{%- if option.selected_value == value -%}true{% else %}false{%- endif -%}"
      name="{{product.id}}-options-{{option.name | escape}}"
      id="gApnMB9IO4-{{option.name | escape}}-{{option.position}}-{{ forloop.index }}"
      value="{{value | escape}}"
      type="radio"
      class="sr-only"
    />
    <span class="sr-only">{{value | escape}}</span>
    
    {% if optionType == 'color' %}
      
    {% assign colorsString = null %}
    {% assign colors = null %}
    {% for label in labels %}
      {% if label == value %}
        {% assign colorsString = colorStrings[forloop.index0] %}
      {% endif %}
    {% endfor %}
    {% if colorsString != null %}
      {% assign colors = colorsString | split: '($7)' %}
    {% endif %}
    <div
    class="g-paragraph-2 flex cursor-pointer items-center justify-center text-center option-value-wrapper overflow-hidden data-[disabled='disabled']:pointer-events-none data-[disabled='disabled']:!cursor-not-allowed 
    {%- if selectedValue == value -%}
      bg-g-bg-3 text-g-text-2
    {%- else -%}
      bg-g-bg-3 hover:bg-g-bg-3 active:bg-g-bg-3 text-g-text-2 hover:text-g-text-2 active:text-g-text-2
    {%- endif -%} 
    "
    style="
    {%- if selectedValue == value -%}
      --bg: var(--g-c-bg-3, bg-3);--bs: solid;--bw: 2px 2px 2px 2px;--bc: var(--g-c-line-3, line-3);--c: var(--g-c-text-2, text-2);--h: 45px;--radius: var(--g-radius-none);--w: 100%;--w-tablet: 100%;--w-mobile: 100%;--minw: 45px;--minw-tablet: 45px;--minw-mobile: 45px;
    {%- else -%}
      --bg: var(--g-c-bg-3, bg-3);--hvr-bg: var(--g-c-bg-3, bg-3);--h: 45px;--c: var(--g-c-text-2, text-2);--hvr-c: var(--g-c-text-2, text-2);--shadow: none;--bs: solid;--hvr-bs: solid;--bw: 1px 1px 1px 1px;--hvr-bw: 1px 1px 1px 1px;--bc: var(--g-c-line-2, line-2);--hvr-bc: var(--g-c-line-3, line-3);--w: 100%;--w-tablet: 100%;--w-mobile: 100%;--minw: 45px;--minw-tablet: 45px;--minw-mobile: 45px;
    {%- endif -%}
    "
    id="value-wrapper-{{option.name | escape | strip}}-{{value | escape | strip}}"
    option-data="{{option.name | escape}}"
    option-value="{{value | escape}}"
    option-position="{{option.position}}"
    option-type="color"
    data-disabled="{%- if option_disabled == true -%} disabled  {%- endif -%}"
  >
    {%- if colors != null and colors.size > 0 -%} 
      {%- for color in colors -%}
        <div
          class="h-full w-full min-w-fit flex"
          style="background-color: {{color}};"></div>
      {%- endfor -%}
       {% else %} 
      <div class="px-[16px] option-value">{{value}}</div>
     {%- endif -%}
  </div>
  
    {% elsif optionType == 'image' %}
      
    {% assign imageUrl = null %}
    {% for label in labels %}
    {% if label == value %}
      {% assign imageUrl = imageUrls[forloop.index0] %}
    {% endif %}
    {% endfor %}
    <div
    class="g-paragraph-2 flex cursor-pointer items-center justify-center text-center option-value-wrapper overflow-hidden data-[disabled='disabled']:pointer-events-none data-[disabled='disabled']:!cursor-not-allowed 
    {%- if selectedValue == value -%}
      bg-g-bg-3 text-g-text-2
    {%- else -%}
      bg-g-bg-3 hover:bg-g-bg-3 active:bg-g-bg-3 text-g-text-2 hover:text-g-text-2 active:text-g-text-2
    {%- endif -%} 
    "
    style="
    {%- if selectedValue == value -%}
      --bg: var(--g-c-bg-3, bg-3);--bs: solid;--bw: 2px 2px 2px 2px;--bc: var(--g-c-line-3, line-3);--c: var(--g-c-text-2, text-2);--h: 45px;--radius: var(--g-radius-none);--w: 100%;--w-tablet: 100%;--w-mobile: 100%;--minw: 45px;--minw-tablet: 45px;--minw-mobile: 45px;
    {%- else -%}
      --bg: var(--g-c-bg-3, bg-3);--hvr-bg: var(--g-c-bg-3, bg-3);--h: 45px;--c: var(--g-c-text-2, text-2);--hvr-c: var(--g-c-text-2, text-2);--shadow: none;--bs: solid;--hvr-bs: solid;--bw: 1px 1px 1px 1px;--hvr-bw: 1px 1px 1px 1px;--bc: var(--g-c-line-2, line-2);--hvr-bc: var(--g-c-line-3, line-3);--w: 100%;--w-tablet: 100%;--w-mobile: 100%;--minw: 45px;--minw-tablet: 45px;--minw-mobile: 45px;
    {%- endif -%}
    "
    id="value-wrapper-{{option.name | escape | strip}}-{{value | escape | strip}}"
    option-data="{{option.name | escape}}"
    option-value="{{value | escape}}"
    option-position="{{option.position}}"
    option-type="image"
    data-disabled="{%- if option_disabled == true -%} disabled  {%- endif -%}"
  >
    {%- if imageUrl != null -%} 
      <img class="h-full object-contain rounded-none" src="{{imageUrl}}" alt="" />
     {% else %} 
      <div class="px-[16px] option-value">{{value}}</div>
     {%- endif -%}
  </div>
  
    {% elsif optionType == 'image_shopify' %}
      
      {% assign imageUrl = null %}
      {% for variant in variants %}
        {% assign valueIncludesSelectedOption = false %}
        {% for item in variant.options %}
          {% if item == value %}
          {% assign valueIncludesSelectedOption = true %}
          {% endif %}
        {% endfor %}
        {% if valueIncludesSelectedOption and variant.featured_image or variant.featured_media%}
          {% unless imageUrl %}
            {% if variant.featured_media %}
              {% assign imageUrl = variant.featured_media.preview_image.src | product_img_url: '200x'  %}
            {% else %}
              {% assign imageUrl = variant.featured_image.src | product_img_url: '200x'  %}
            {% endif %}
          {% endunless %}
        {% endif %}
      {% endfor %}
      <div
    class="g-paragraph-2 flex cursor-pointer items-center justify-center text-center option-value-wrapper overflow-hidden data-[disabled='disabled']:pointer-events-none data-[disabled='disabled']:!cursor-not-allowed 
    {%- if selectedValue == value -%}
      bg-g-bg-3 text-g-text-2
    {%- else -%}
      bg-g-bg-3 hover:bg-g-bg-3 active:bg-g-bg-3 text-g-text-2 hover:text-g-text-2 active:text-g-text-2
    {%- endif -%} 
    "
    style="
    {%- if selectedValue == value -%}
      --bg: var(--g-c-bg-3, bg-3);--bs: solid;--bw: 2px 2px 2px 2px;--bc: var(--g-c-line-3, line-3);--c: var(--g-c-text-2, text-2);--h: 45px;--radius: var(--g-radius-none);--w: 100%;--w-tablet: 100%;--w-mobile: 100%;--minw: 45px;--minw-tablet: 45px;--minw-mobile: 45px;
    {%- else -%}
      --bg: var(--g-c-bg-3, bg-3);--hvr-bg: var(--g-c-bg-3, bg-3);--h: 45px;--c: var(--g-c-text-2, text-2);--hvr-c: var(--g-c-text-2, text-2);--shadow: none;--bs: solid;--hvr-bs: solid;--bw: 1px 1px 1px 1px;--hvr-bw: 1px 1px 1px 1px;--bc: var(--g-c-line-2, line-2);--hvr-bc: var(--g-c-line-3, line-3);--w: 100%;--w-tablet: 100%;--w-mobile: 100%;--minw: 45px;--minw-tablet: 45px;--minw-mobile: 45px;
    {%- endif -%}
    "
    id="value-wrapper-{{option.name | escape | strip}}-{{value | escape | strip}}"
    option-data="{{option.name | escape}}"
    option-value="{{value | escape}}"
    option-position="{{option.position}}"
    option-type="image_shopify"
    data-disabled="{%- if option_disabled == true -%} disabled  {%- endif -%}"
  >
    {%- if imageUrl != null -%} 
      <img class="h-full object-contain rounded-none" src="{{imageUrl}}" alt="" />
     {% else %} 
      <div class="px-[16px] option-value">{{value}}</div>
     {%- endif -%}
  </div>
  
    {% else %}
      <div
    class="g-paragraph-2 flex cursor-pointer items-center justify-center text-center option-value-wrapper overflow-hidden data-[disabled='disabled']:pointer-events-none data-[disabled='disabled']:!cursor-not-allowed 
    {%- if selectedValue == value -%}
      bg-g-bg-3 text-g-text-2
    {%- else -%}
      bg-g-bg-3 hover:bg-g-bg-3 active:bg-g-bg-3 text-g-text-2 hover:text-g-text-2 active:text-g-text-2
    {%- endif -%} 
    "
    style="
    {%- if selectedValue == value -%}
      --bg: var(--g-c-bg-3, bg-3);--bs: solid;--bw: 2px 2px 2px 2px;--bc: var(--g-c-line-3, line-3);--c: var(--g-c-text-2, text-2);--h: 45px;--radius: var(--g-radius-none);--w: 100%;--w-tablet: 100%;--w-mobile: 100%;--minw: 45px;--minw-tablet: 45px;--minw-mobile: 45px;
    {%- else -%}
      --bg: var(--g-c-bg-3, bg-3);--hvr-bg: var(--g-c-bg-3, bg-3);--h: 45px;--c: var(--g-c-text-2, text-2);--hvr-c: var(--g-c-text-2, text-2);--shadow: none;--bs: solid;--hvr-bs: solid;--bw: 1px 1px 1px 1px;--hvr-bw: 1px 1px 1px 1px;--bc: var(--g-c-line-2, line-2);--hvr-bc: var(--g-c-line-3, line-3);--w: 100%;--w-tablet: 100%;--w-mobile: 100%;--minw: 45px;--minw-tablet: 45px;--minw-mobile: 45px;
    {%- endif -%}
    "
    id="value-wrapper-{{option.name | escape | strip}}-{{value | escape | strip}}"
    option-data="{{option.name | escape}}"
    option-value="{{value | escape}}"
    option-position="{{option.position}}"
    option-type="rectangle_list"
    data-disabled="{%- if option_disabled == true -%} disabled  {%- endif -%}"
  >
    
      <div class="px-[16px] option-value">{{value}}</div>
    
  </div>
    {% endif %}
    
  </div>
              {%- endfor -%}
          {% elsif optionType == 'dropdown' %}
            {% assign optionRendered = true %}
            
    <select
    autocomplete="off"
    id="p-variant-dropdown-{{option.position}}"
    name="{%- if option -%}{{option.name | escape}}{% else %}Select Option{%- endif -%}"
    class="truncate bg-auto pl-4 pr-6 outline-none border-g-line-2 hover:border-g-line-3 g-paragraph-2 text-g-text-2 hover:text-g-text-2 active:text-g-text-2 bg-g-bg-3 hover:bg-g-bg-3 active:bg-g-bg-3 outline-none shadow-none"
 
    style="--shadow:none;--bg:var(--g-c-bg-3, bg-3);--bs:solid;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--c:var(--g-c-text-2, text-2);--hvr-c:var(--g-c-text-2, text-2);--hvr-bg:var(--g-c-bg-3, bg-3);--h:45px;--minw:100%;--minw-tablet:100%;--minw-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--hvr-bs:solid;--hvr-bw:1px 1px 1px 1px;--hvr-bc:var(--g-c-line-3, line-3);appearance:none;background-image:url(https://cdn.shopify.com/s/files/1/1827/4239/t/1/assets/ico-select.svg?v=155563818344741998551488860031);background-repeat:no-repeat;background-position:right 10px center"
  >
  
  {%- for value in values -%}
          {%- liquid
            assign option_disabled = true
            for variantItem in product.variants
              case option.position
                when 1
                  if variantItem.available and variantItem.option1 == value
                    assign option_disabled = false
                  endif
                when 2
                  if variantItem.available and variantItem.option2 == value
                    assign option_disabled = false
                  endif
                when 3
                  if variantItem.available and variantItem.option3 == value
                    assign option_disabled = false
                  endif
              endcase
            endfor
          -%}
          {%- if option_disabled == true -%}
                    {%- if value == selectedValue -%}
                      <option disabled selected option-data="{{option.name | escape}}"
                        option-position="{{option.position}}"
                        option-value="{{value | escape}}" value="{{value | escape}}" class="option-value-wrapper" key="{{value | escape}}">
                          {{value}} 
                      </option>
                      {% else %}
                        <option disabled option-data="{{option.name | escape}}"
                        option-value="{{value | escape}}" value="{{value | escape}}" class="option-value-wrapper" key="{{value | escape}}">
                          {{value}} 
                        </option>
                    {%- endif -%}
                {%- else -%}
                {%- if value == selectedValue -%}
                  <option selected option-data="{{option.name | escape}}"
                      option-value="{{value | escape}}" option-position="{{option.position}}" class="option-value-wrapper" value="{{value | escape}}" key="{{value | escape}}">
                      {{value}}
                  </option>
                  {% else %}
                  <option  option-data="{{option.name | escape}}"
                      option-value="{{value | escape}}" option-position="{{option.position}}" class="option-value-wrapper" value="{{value | escape}}" key="{{value | escape}}">
                      {{value}} 
                  </option>
                  {%- endif -%}
                {%- endif -%}
         
        {%- endfor -%}
  </select>
    
          {% elsif optionType == 'radio_buttons' %}
            {% assign optionRendered = true %}
            
    
      {%- for value in values -%}

      {%- liquid
        assign option_disabled = true
        for variantItem in product.variants
              case option.position
                when 1
                  if variantItem.available and variantItem.option1 == value
                    assign option_disabled = false
                  endif
                when 2
                  if variantItem.available and variantItem.option2 == value
                    assign option_disabled = false
                  endif
                when 3
                  if variantItem.available and variantItem.option3 == value
                    assign option_disabled = false
                  endif
              endcase
            endfor
      -%}
        
          <label
          for="{{option.name | escape}}-{{option.position}}-{{ forloop.index }}"
          style="--mr:var(--g-s-m)"

          {%- if option_disabled == true and option.position != 0 -%}
            class="option-item-active opacity-20 data-[disabled='disabled']:pointer-events-none data-[disabled='disabled']:!cursor-not-allowed"
          {% else %}
            class="option-item-active"
          {%- endif -%}
        >
        {%- if option_disabled == true and option.position != 0 -%}
            {%- if value == selectedValue -%}
                <input
                class="option-value-wrapper data-[disabled='disabled']:pointer-events-none data-[disabled='disabled']:!cursor-not-allowed"
                disabled
                name="{{product.id}}-options-{{value | escape}}"
                data-disabled="disabled"
                id="{{option.name | escape}}-{{option.position}}-{{ forloop.index }}"
                option-data="{{option.name | escape}}"
                option-value="{{value | escape}}"
                option-type="radio"
                option-position="{{option.position}}"
                value="{{value | escape}}"
                type="radio"
                autocomplete="off"
                checked
              ></input>
            {% else %}
            <input           
              disabled
              class="option-value-wrapper data-[disabled='disabled']:pointer-events-none data-[disabled='disabled']:!cursor-not-allowed"
              name="{{product.id}}-options-{{value | escape}}"
              id="{{option.name | escape}}-{{option.position}}-{{ forloop.index }}"
              value="{{value | escape}}"
              data-disabled="disabled"
              option-data="{{option.name | escape}}"
              option-position="{{option.position}}"
              option-value="{{value | escape}}"
              option-type="radio"
              autocomplete="off"
              type="radio"
            ></input>
            {%- endif -%}
        {% else %}
          {%- if value == selectedValue -%}
            <input
            class="option-value-wrapper data-[disabled=true]:cursor-not-allowed data-[disabled=true]:pointer-events-none"
            name="{{product.id}}-options-{{value | escape}}"
            id="{{option.name | escape}}-{{option.position}}-{{ forloop.index }}"
            value="{{value | escape}}"
            option-data="{{option.name | escape}}"
            option-value="{{value | escape}}"
            option-position="{{option.position}}"
            option-type="radio"
            type="radio"
            autocomplete="off"
            checked
          ></input>
        {% else %}
          <input 
            class="option-value-wrapper data-[disabled=true]:cursor-not-allowed data-[disabled=true]:pointer-events-none"
            name="{{product.id}}-options-{{value | escape}}"
            id="{{option.name | escape}}-{{option.position}}-{{ forloop.index }}"
            value="{{value | escape}}"
            type="radio"
            option-data="{{option.name | escape}}"
            option-value="{{value | escape}}"
            option-position="{{option.position}}"
            autocomplete="off"
            option-type="radio"
          ></input>
        {%- endif -%}
        {%- endif -%}
          
          <span
            class="
    {%- if selectedValue == value -%}
      p-2 option-value 
    {%- else -%}
      p-2 option-value 
    {%- endif -%}
    "
            style="
    {%- if selectedValue == value -%}
      --c: var(--g-c-text-2, text-2);
    {%- else -%}
    --c: var(--g-c-text-2, text-2);--hvr-c: var(--g-c-text-2, text-2);
    {%- endif -%}
    "
          >
            {{value}}
          </span>
        </label>
      {%- endfor -%}
    
        {% endif %}
      {% endif %}
    {% endfor %}
    
    {% if optionRendered == false %}
      
    
    <select
    autocomplete="off"
    id="p-variant-dropdown-{{option.position}}"
    name="{%- if option -%}{{option.name | escape}}{% else %}Select Option{%- endif -%}"
    class="truncate bg-auto pl-4 pr-6 outline-none border-g-line-2 hover:border-g-line-3 g-paragraph-2 text-g-text-2 hover:text-g-text-2 active:text-g-text-2 bg-g-bg-3 hover:bg-g-bg-3 active:bg-g-bg-3 outline-none shadow-none"
 
    style="--shadow:none;--bg:var(--g-c-bg-3, bg-3);--bs:solid;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--c:var(--g-c-text-2, text-2);--hvr-c:var(--g-c-text-2, text-2);--hvr-bg:var(--g-c-bg-3, bg-3);--h:45px;--minw:100%;--minw-tablet:100%;--minw-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--hvr-bs:solid;--hvr-bw:1px 1px 1px 1px;--hvr-bc:var(--g-c-line-3, line-3);appearance:none;background-image:url(https://cdn.shopify.com/s/files/1/1827/4239/t/1/assets/ico-select.svg?v=155563818344741998551488860031);background-repeat:no-repeat;background-position:right 10px center"
  >
  
  {%- for value in values -%}
          {%- liquid
            assign option_disabled = true
            for variantItem in product.variants
              case option.position
                when 1
                  if variantItem.available and variantItem.option1 == value
                    assign option_disabled = false
                  endif
                when 2
                  if variantItem.available and variantItem.option2 == value
                    assign option_disabled = false
                  endif
                when 3
                  if variantItem.available and variantItem.option3 == value
                    assign option_disabled = false
                  endif
              endcase
            endfor
          -%}
          {%- if option_disabled == true -%}
                    {%- if value == selectedValue -%}
                      <option disabled selected option-data="{{option.name | escape}}"
                        option-position="{{option.position}}"
                        option-value="{{value | escape}}" value="{{value | escape}}" class="option-value-wrapper" key="{{value | escape}}">
                          {{value}} 
                      </option>
                      {% else %}
                        <option disabled option-data="{{option.name | escape}}"
                        option-value="{{value | escape}}" value="{{value | escape}}" class="option-value-wrapper" key="{{value | escape}}">
                          {{value}} 
                        </option>
                    {%- endif -%}
                {%- else -%}
                {%- if value == selectedValue -%}
                  <option selected option-data="{{option.name | escape}}"
                      option-value="{{value | escape}}" option-position="{{option.position}}" class="option-value-wrapper" value="{{value | escape}}" key="{{value | escape}}">
                      {{value}}
                  </option>
                  {% else %}
                  <option  option-data="{{option.name | escape}}"
                      option-value="{{value | escape}}" option-position="{{option.position}}" class="option-value-wrapper" value="{{value | escape}}" key="{{value | escape}}">
                      {{value}} 
                  </option>
                  {%- endif -%}
                {%- endif -%}
         
        {%- endfor -%}
  </select>
    
    {% endif %}
    
          </div>
      </div>
      {%- endfor -%}
    
    </div>
    {%- endif -%}
    
  </gp-product-variants>
  
   
      </div>
    <div
      parentTag="Col"
        class="gN-K4bRcLs "
        style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%"
      >
      <div
        data-gp-text
        class="g-paragraph-1 gp-text"
        style="--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      >
      Quantity
      </div>
    </div><div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="glvjFqE7oK ">
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-quantity.js" defer="defer"></script>
    {%- liquid 
      assign current_variant = product.selected_or_first_available_variant
      assign available = current_variant.available | default: false
    -%}
      <gp-product-quantity
        data-disabled="{%- if available -%} false {%- else -%} true {%- endif -%}"
        class="relative inline-flex w-full bg-transparent transition-all duration-150 data-[disabled=true]:opacity-60 "
        style="--h:45px;--jc:left"
      >

      
          <button
            title="Decrement"
            aria-label="decrement"
            {% if available == false %} disabled {% endif %}
            class="border-g-line-2 hover:border-g-line-3 text-g-text-2 bg-g-bg-3 gp-minus flex aspect-square h-full cursor-pointer items-center justify-center outline-none disabled:cursor-not-allowed"
            style="--w:45px;--bg:var(--g-c-bg-3, bg-3);--c:var(--g-c-text-2, text-2);--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--hvr-bc:var(--g-c-line-3, line-3);--bblr:auto;--bbrr:auto;--btlr:auto;--btrr:auto"
          >
            <span class="inline-flex items-center justify-center" style="--w:20px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-full w-full"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
              </svg>
            </span>
          </button>
      
        <input
          pattern="[0-9]"
          type="text"
          name="product-quantity"  
          {% if available == false %} disabled {% endif %}
          class="border-g-line-2 hover:border-g-line-3 bg-g-bg-3 text-g-text-2 g-paragraph-2 !border-x-0 px-4 flex shadow-none appearance-none items-center border-y text-center outline-none transition-all duration-150 hover:text-black disabled:pointer-events-none h-auto rounded-none shrink-[99999] w-full min-w-[45px]"
          style="--maxw:50px;--maxw-tablet:50px;--maxw-mobile:50px;--bg:var(--g-c-bg-3, bg-3);--c:var(--g-c-text-1, text-1);--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--hvr-bc:var(--g-c-line-3, line-3)"
          aria-label="Quantity"
          inputmode="numeric"
          min="{{ current_variant.quantity_rule.min }}"
          step="{{ current_variant.quantity_rule.increment }}"
          value="1"
          autocomplete='off'
        />

        
          <button
            {% if available == false %} disabled {% endif %}
            aria-label="increment"
            title="Increment"
            class="border-g-line-2 hover:border-g-line-3 text-g-text-2 bg-g-bg-3 gp-plus flex aspect-square h-full cursor-pointer items-center justify-center outline-none transition-all duration-150 disabled:pointer-events-none"
            style="--w:45px;--bg:var(--g-c-bg-3, bg-3);--c:var(--g-c-text-2, text-2);--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--hvr-bc:var(--g-c-line-3, line-3);--bblr:auto;--bbrr:auto;--btlr:auto;--btrr:auto"
          >
            <span class="inline-flex items-center justify-center" style="--w:20px">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-full w-full"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                />
              </svg>
            </span>
          </button>
        
      </gp-product-quantity>
      </div>
      
      
    <div
      parentTag="Col" id="gthONPGW_m"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gthONPGW_m mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="g9RFIfovmE relative flex flex-col"
    >
      <div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%" class="g3lHJNcAAM ">
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-dynamic.js" defer="defer"></script>
    {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
      assign supported_payment_methods = shop.enabled_payment_types
    -%}
    <gp-product-dynamic class="">
     

      <div class="block wrap__button--unbranded__g3lHJNcAAM [&_.shopify-payment-button\_\_button--unbranded]:truncate [&_.shopify-payment-button\_\_button--unbranded]:min-h-fit disabled:[&_.shopify-payment-button\_\_button--unbranded]:pointer-events-none [&_.shopify-payment-button\_\_button--unbranded]:g-paragraph-1 [&_.shopify-payment-button\_\_button--unbranded]:g-s-medium [&_.shopify-payment-button\_\_button--unbranded]:text-g-text-3">
          {{ form | payment_button }}
      </div>
      {% style %}
        .wrap__button--unbranded__g3lHJNcAAM {
          
        }

        .shopify-payment-button>div>div>div {
          margin-top: 0px !important;
        }

        .wrap__button--unbranded__g3lHJNcAAM .shopify-payment-button {
          max-width: 100%;
          
        }

        .wrap__button--unbranded__g3lHJNcAAM .shopify-payment-button .shopify-payment-button__more-options {
          display: none;
        }

        .wrap__button--unbranded__g3lHJNcAAM .shopify-payment-button .shopify-payment-button__button--unbranded {
          max-width: 100%;
          min-width: unset;
          background-color: unset !important;
          position: relative;
          border: none !important;
          z-index: 0;
          border-radius: unset;
          
          width: 100%;
          
  
  
  
  
  
  
  
  
  
          color: var(--g-c-text-3, text-3) !important;
          
          
          
      
      
      
      
      
        }
        .wrap__button--unbranded__g3lHJNcAAM .shopify-payment-button .shopify-payment-button__button--unbranded::before {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;
          z-index: -1;
          border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
          
      
      
      
      
      
          background-color: var(--g-c-brand, brand) !important;
        }

        .wrap__button--unbranded__g3lHJNcAAM .shopify-payment-button .shopify-payment-button__button--unbranded:hover {
          
          
        }
        .wrap__button--unbranded__g3lHJNcAAM .shopify-payment-button .shopify-payment-button__button--unbranded:hover::before {
          border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
          
          background-color: var(--g-c-highlight, highlight) !important;
        }

        .wrap__button--unbranded__g3lHJNcAAM .shopify-payment-button .shopify-payment-button__button--unbranded::after {
          border-radius: 0;
          box-shadow: none;
        }

        .wrap__button--unbranded__g3lHJNcAAM .shopify-payment-button .shopify-payment-button__button--unbranded::after:hover {
          border-radius: 0;
          box-shadow: none;
        }

        .wrap__button--unbranded__g3lHJNcAAM .shopify-payment-button > div {
          max-width: 100%;
        }

        .wrap__button--unbranded__g3lHJNcAAM .shopify-payment-button > div > div {
          max-width: 100%;
        }

        @media only screen and (max-width: 1023px) and (min-width: 768px)  {
          .wrap__button--unbranded__g3lHJNcAAM {
            
          }
          .wrap__button--unbranded__g3lHJNcAAM .shopify-payment-button {
            
          }

          .wrap__button--unbranded__g3lHJNcAAM .shopify-payment-button__button--unbranded {
            width: 100%;
            
          }
        }

        @media only screen and (max-width: 767px) {
          .wrap__button--unbranded__g3lHJNcAAM {
            
          }
          .wrap__button--unbranded__g3lHJNcAAM .shopify-payment-button {
            
          }

          .wrap__button--unbranded__g3lHJNcAAM .shopify-payment-button__button--unbranded {
            width: 100%;
            
          }
        }

        {% endstyle %}
      </gp-product-dynamic>
  
      </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gGsiMfRjOc relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-button.js" defer="defer"></script>
  
  
  
   {%- liquid 
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      gp-data='{"setting":{"actionEffect":"continue-shopping","customURL":{"link":"/cart","target":"_self"},"errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"Add to cart","outOfStockLabel":"Out of stock","errorType":"built-in"},"styles":{"errorTypo":{"type":"paragraph-2"},"successTypo":{"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}"}'
    >
        <div
    
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class="{% unless variant.available %} !hidden {% endunless %} undefined"
  >
    <style>
    .g_SKrXLglg.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      
      
      
      
      
    }

    .g_SKrXLglg:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }
  </style>
    <button
      type="button" data-id="g_SKrXLglg" aria-label="Add to cart"
      data-state="idle"
      class="g_SKrXLglg gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium gp-button-atc"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--shadow:none;--c:var(--g-c-text-3, text-3);--w:100%;--w-tablet:100%;--w-mobile:100%;--tt:default"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="truncate group-data-[state=loading]:invisible "
        style="--tt:default"
      >
        Add to cart
      </span>
    </button>
  </div>
        <div
    
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--ta:left"
    class="{% if variant.available %} !hidden {% endif %}"
  >
    <style>
    .g_SKrXLglg.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      
      
      
      
      
    }

    .g_SKrXLglg:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }
  </style>
    <button
      type="button" data-id="g_SKrXLglg" aria-label="Out of stock"
      data-state="idle"
      class="g_SKrXLglg gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none bg-g-brand hover:bg-g-highlight text-g-text-3 g-paragraph-1 g-s-medium gp-button-sold-out btn-disabled opacity-30 pointer-events-none"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--shadow:none;--c:var(--g-c-text-3, text-3);--w:100%;--w-tablet:100%;--w-mobile:100%;--tt:default"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="truncate group-data-[state=loading]:invisible "
        style="--tt:default"
      >
        Out of stock
      </span>
    </button>
  </div>
    </gp-product-button>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
    
        {%- endform -%}
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="text-center">Product not found</div>
    {%- endif -%}
  
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:center"
      data-keep-class="true"
      class="gdvGEdG2yo "
    ><div style="clear:both;"></div><div id="opinew-reviews-product-page-code" class="opw-widget-wrapper-default">
                <span id="opinew-plugin" data-server-address="https://api.opinew.com" data-opw-prodreviews="{{ product.metafields.opinew_metafields['product_plugin'] }}" data-opinew-shop-id="{{ shop.id }}" data-shop-url="{{shop.domain}}" data-platform-product-id="{{8674848309548}}">
                 <span id="opinew_product_plugin_app"></span>
                </span></div></div>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Product Information - Sty",
    "tag": "section",
    "class": "gps-479338208199443253 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=479338208199443253)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
